.sidebar {
  width: 16em;
  position: fixed;
  left: 1em;
  top: 1em;
  bottom: 1em;

  &-wrapper {
    background-color: #ffffff;
    height: 100%;
    border-radius: 25px;
    padding: 20px 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .sidebar-item {
      [class^="tskn-"] {
        margin-right: 0.5em;
      }

      &:has(.active) a, &:has(.active) .btn {
        font-weight: 700;
        background-color: #eeeeee;
      }

      a, .btn {
        font-size: 1em;
        font-weight: 500;
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.75em;
        border-radius: 15px;
        white-space: nowrap;
        width: 100%;
        border: none;
        padding: 0.75em;
      }
    }
  }
}
