.tskn-brands-3m:before {
  content: "\f101";
}
.tskn-brands-500px:before {
  content: "\f102";
}
.tskn-brands-abbot-laboratories:before {
  content: "\f103";
}
.tskn-brands-accusoft:before {
  content: "\f104";
}
.tskn-brands-acrobat:before {
  content: "\f105";
}
.tskn-brands-adobe:before {
  content: "\f106";
}
.tskn-brands-aecom:before {
  content: "\f107";
}
.tskn-brands-aero:before {
  content: "\f108";
}
.tskn-brands-after-effects:before {
  content: "\f109";
}
.tskn-brands-airbnb:before {
  content: "\f10a";
}
.tskn-brands-algolia:before {
  content: "\f10b";
}
.tskn-brands-amd:before {
  content: "\f10c";
}
.tskn-brands-american-express:before {
  content: "\f10d";
}
.tskn-brands-android:before {
  content: "\f10e";
}
.tskn-brands-animate:before {
  content: "\f10f";
}
.tskn-brands-app-store-ios:before {
  content: "\f110";
}
.tskn-brands-apple-pay:before {
  content: "\f111";
}
.tskn-brands-apple:before {
  content: "\f112";
}
.tskn-brands-artstation:before {
  content: "\f113";
}
.tskn-brands-astrazeneca:before {
  content: "\f114";
}
.tskn-brands-asus:before {
  content: "\f115";
}
.tskn-brands-atandt:before {
  content: "\f116";
}
.tskn-brands-atlassian:before {
  content: "\f117";
}
.tskn-brands-atom:before {
  content: "\f118";
}
.tskn-brands-audition:before {
  content: "\f119";
}
.tskn-brands-behance:before {
  content: "\f11a";
}
.tskn-brands-bitcoin:before {
  content: "\f11b";
}
.tskn-brands-blackberry:before {
  content: "\f11c";
}
.tskn-brands-blogger:before {
  content: "\f11d";
}
.tskn-brands-bluetooth:before {
  content: "\f11e";
}
.tskn-brands-bootstrap:before {
  content: "\f11f";
}
.tskn-brands-bridgestone:before {
  content: "\f120";
}
.tskn-brands-burger-king:before {
  content: "\f121";
}
.tskn-brands-c:before {
  content: "\f122";
}
.tskn-brands-capture:before {
  content: "\f123";
}
.tskn-brands-cc-amazon-pay:before {
  content: "\f124";
}
.tskn-brands-cc-apple-pay:before {
  content: "\f125";
}
.tskn-brands-cc-diners-club:before {
  content: "\f126";
}
.tskn-brands-cc-visa:before {
  content: "\f127";
}
.tskn-brands-centos:before {
  content: "\f128";
}
.tskn-brands-character:before {
  content: "\f129";
}
.tskn-brands-chromecast:before {
  content: "\f12a";
}
.tskn-brands-cloudflare:before {
  content: "\f12b";
}
.tskn-brands-confluence:before {
  content: "\f12c";
}
.tskn-brands-creative-commons-by:before {
  content: "\f12d";
}
.tskn-brands-creative-commons-nc-eu:before {
  content: "\f12e";
}
.tskn-brands-creative-commons-nc-jp:before {
  content: "\f12f";
}
.tskn-brands-creative-commons-nc:before {
  content: "\f130";
}
.tskn-brands-creative-commons-nd:before {
  content: "\f131";
}
.tskn-brands-creative-commons-pd-alt:before {
  content: "\f132";
}
.tskn-brands-creative-commons-pd:before {
  content: "\f133";
}
.tskn-brands-creative-commons-remix:before {
  content: "\f134";
}
.tskn-brands-creative-commons-sa:before {
  content: "\f135";
}
.tskn-brands-creative-commons-sampling-plus:before {
  content: "\f136";
}
.tskn-brands-creative-commons-sampling:before {
  content: "\f137";
}
.tskn-brands-creative-commons-share:before {
  content: "\f138";
}
.tskn-brands-creative-commons-zero:before {
  content: "\f139";
}
.tskn-brands-creative-commons:before {
  content: "\f13a";
}
.tskn-brands-css3-alt:before {
  content: "\f13b";
}
.tskn-brands-css3:before {
  content: "\f13c";
}
.tskn-brands-dailymotion:before {
  content: "\f13d";
}
.tskn-brands-deezer:before {
  content: "\f13e";
}
.tskn-brands-delphi:before {
  content: "\f13f";
}
.tskn-brands-dev:before {
  content: "\f140";
}
.tskn-brands-devianart:before {
  content: "\f141";
}
.tskn-brands-digg:before {
  content: "\f142";
}
.tskn-brands-dimension:before {
  content: "\f143";
}
.tskn-brands-discord:before {
  content: "\f144";
}
.tskn-brands-docker:before {
  content: "\f145";
}
.tskn-brands-dribbble:before {
  content: "\f146";
}
.tskn-brands-dropbox:before {
  content: "\f147";
}
.tskn-brands-drupal:before {
  content: "\f148";
}
.tskn-brands-ebay:before {
  content: "\f149";
}
.tskn-brands-elementor:before {
  content: "\f14a";
}
.tskn-brands-ethereum:before {
  content: "\f14b";
}
.tskn-brands-etsy:before {
  content: "\f14c";
}
.tskn-brands-evernote:before {
  content: "\f14d";
}
.tskn-brands-facebook-messenger:before {
  content: "\f14e";
}
.tskn-brands-facebook:before {
  content: "\f14f";
}
.tskn-brands-fedex:before {
  content: "\f150";
}
.tskn-brands-figma:before {
  content: "\f151";
}
.tskn-brands-firefox-browser:before {
  content: "\f152";
}
.tskn-brands-firefox:before {
  content: "\f153";
}
.tskn-brands-flickr:before {
  content: "\f154";
}
.tskn-brands-flipboard:before {
  content: "\f155";
}
.tskn-brands-fonts:before {
  content: "\f156";
}
.tskn-brands-foursquare:before {
  content: "\f157";
}
.tskn-brands-fresco:before {
  content: "\f158";
}
.tskn-brands-github:before {
  content: "\f159";
}
.tskn-brands-gitlab:before {
  content: "\f15a";
}
.tskn-brands-goodreads:before {
  content: "\f15b";
}
.tskn-brands-google:before {
  content: "\f15c";
}
.tskn-brands-haskell:before {
  content: "\f15d";
}
.tskn-brands-hbo:before {
  content: "\f15e";
}
.tskn-brands-hotjar:before {
  content: "\f15f";
}
.tskn-brands-html5:before {
  content: "\f160";
}
.tskn-brands-huawei:before {
  content: "\f161";
}
.tskn-brands-hubspot:before {
  content: "\f162";
}
.tskn-brands-ibm:before {
  content: "\f163";
}
.tskn-brands-illustrator-draw:before {
  content: "\f164";
}
.tskn-brands-illustrator:before {
  content: "\f165";
}
.tskn-brands-imdb:before {
  content: "\f166";
}
.tskn-brands-incopy:before {
  content: "\f167";
}
.tskn-brands-indesign:before {
  content: "\f168";
}
.tskn-brands-instagram:before {
  content: "\f169";
}
.tskn-brands-intel:before {
  content: "\f16a";
}
.tskn-brands-invision:before {
  content: "\f16b";
}
.tskn-brands-itunes:before {
  content: "\f16c";
}
.tskn-brands-janseen:before {
  content: "\f16d";
}
.tskn-brands-java:before {
  content: "\f16e";
}
.tskn-brands-jcb:before {
  content: "\f16f";
}
.tskn-brands-jira:before {
  content: "\f170";
}
.tskn-brands-johnson-and-johnson:before {
  content: "\f171";
}
.tskn-brands-joomla:before {
  content: "\f172";
}
.tskn-brands-js:before {
  content: "\f173";
}
.tskn-brands-kickstarter:before {
  content: "\f174";
}
.tskn-brands-line:before {
  content: "\f175";
}
.tskn-brands-linkedin:before {
  content: "\f176";
}
.tskn-brands-lisp:before {
  content: "\f177";
}
.tskn-brands-mailchimp:before {
  content: "\f178";
}
.tskn-brands-marriott-international:before {
  content: "\f179";
}
.tskn-brands-mcdonalds:before {
  content: "\f17a";
}
.tskn-brands-media-encoder:before {
  content: "\f17b";
}
.tskn-brands-medium:before {
  content: "\f17c";
}
.tskn-brands-meta:before {
  content: "\f17d";
}
.tskn-brands-microsoft-edge:before {
  content: "\f17e";
}
.tskn-brands-microsoft-explorer:before {
  content: "\f17f";
}
.tskn-brands-microsoft:before {
  content: "\f180";
}
.tskn-brands-mysql:before {
  content: "\f181";
}
.tskn-brands-napster:before {
  content: "\f182";
}
.tskn-brands-nestle:before {
  content: "\f183";
}
.tskn-brands-netflix:before {
  content: "\f184";
}
.tskn-brands-node-js:before {
  content: "\f185";
}
.tskn-brands-nvidia:before {
  content: "\f186";
}
.tskn-brands-oracle:before {
  content: "\f187";
}
.tskn-brands-patreon:before {
  content: "\f188";
}
.tskn-brands-paypal:before {
  content: "\f189";
}
.tskn-brands-pfizer:before {
  content: "\f18a";
}
.tskn-brands-photoshop-camera:before {
  content: "\f18b";
}
.tskn-brands-photoshop-express:before {
  content: "\f18c";
}
.tskn-brands-photoshop-lightroom-classic:before {
  content: "\f18d";
}
.tskn-brands-photoshop-lightroom:before {
  content: "\f18e";
}
.tskn-brands-photoshop:before {
  content: "\f18f";
}
.tskn-brands-php:before {
  content: "\f190";
}
.tskn-brands-pinterest:before {
  content: "\f191";
}
.tskn-brands-postgre:before {
  content: "\f192";
}
.tskn-brands-premiere-rush:before {
  content: "\f193";
}
.tskn-brands-premiere:before {
  content: "\f194";
}
.tskn-brands-product-hunt:before {
  content: "\f195";
}
.tskn-brands-python:before {
  content: "\f196";
}
.tskn-brands-raspberry-pi:before {
  content: "\f197";
}
.tskn-brands-reddit:before {
  content: "\f198";
}
.tskn-brands-samsung:before {
  content: "\f199";
}
.tskn-brands-sap:before {
  content: "\f19a";
}
.tskn-brands-sass:before {
  content: "\f19b";
}
.tskn-brands-shopify:before {
  content: "\f19c";
}
.tskn-brands-siemens:before {
  content: "\f19d";
}
.tskn-brands-sketch:before {
  content: "\f19e";
}
.tskn-brands-skype:before {
  content: "\f19f";
}
.tskn-brands-slack:before {
  content: "\f1a0";
}
.tskn-brands-snapchat:before {
  content: "\f1a1";
}
.tskn-brands-sony:before {
  content: "\f1a2";
}
.tskn-brands-soundcloud:before {
  content: "\f1a3";
}
.tskn-brands-spark:before {
  content: "\f1a4";
}
.tskn-brands-spotify:before {
  content: "\f1a5";
}
.tskn-brands-starbucks:before {
  content: "\f1a6";
}
.tskn-brands-stock:before {
  content: "\f1a7";
}
.tskn-brands-stripe:before {
  content: "\f1a8";
}
.tskn-brands-substance-3d-designer:before {
  content: "\f1a9";
}
.tskn-brands-substance-3d-painter:before {
  content: "\f1aa";
}
.tskn-brands-substance-3d-sampler:before {
  content: "\f1ab";
}
.tskn-brands-substance-3d-stager:before {
  content: "\f1ac";
}
.tskn-brands-swift:before {
  content: "\f1ad";
}
.tskn-brands-t-mobile:before {
  content: "\f1ae";
}
.tskn-brands-telegram:before {
  content: "\f1af";
}
.tskn-brands-tencent:before {
  content: "\f1b0";
}
.tskn-brands-the-home-depot:before {
  content: "\f1b1";
}
.tskn-brands-tik-tok:before {
  content: "\f1b2";
}
.tskn-brands-trello:before {
  content: "\f1b3";
}
.tskn-brands-tripadvisor:before {
  content: "\f1b4";
}
.tskn-brands-tumblr:before {
  content: "\f1b5";
}
.tskn-brands-twitch:before {
  content: "\f1b6";
}
.tskn-brands-twitter:before {
  content: "\f1b7";
}
.tskn-brands-typescript:before {
  content: "\f1b8";
}
.tskn-brands-uber:before {
  content: "\f1b9";
}
.tskn-brands-ubuntu:before {
  content: "\f1ba";
}
.tskn-brands-unilever:before {
  content: "\f1bb";
}
.tskn-brands-unity:before {
  content: "\f1bc";
}
.tskn-brands-unsplash:before {
  content: "\f1bd";
}
.tskn-brands-ups:before {
  content: "\f1be";
}
.tskn-brands-usaa:before {
  content: "\f1bf";
}
.tskn-brands-verizon:before {
  content: "\f1c0";
}
.tskn-brands-vimeo:before {
  content: "\f1c1";
}
.tskn-brands-visa:before {
  content: "\f1c2";
}
.tskn-brands-visual-basic:before {
  content: "\f1c3";
}
.tskn-brands-vk:before {
  content: "\f1c4";
}
.tskn-brands-walmart:before {
  content: "\f1c5";
}
.tskn-brands-whatsapp:before {
  content: "\f1c6";
}
.tskn-brands-wikipedia:before {
  content: "\f1c7";
}
.tskn-brands-windows:before {
  content: "\f1c8";
}
.tskn-brands-wix:before {
  content: "\f1c9";
}
.tskn-brands-wordpress:before {
  content: "\f1ca";
}
.tskn-brands-xd:before {
  content: "\f1cb";
}
.tskn-brands-xing:before {
  content: "\f1cc";
}
.tskn-brands-yahoo:before {
  content: "\f1cd";
}
.tskn-brands-yandex:before {
  content: "\f1ce";
}
.tskn-brands-yelp:before {
  content: "\f1cf";
}
.tskn-brands-youtube:before {
  content: "\f1d0";
}
.tskn-brands-zoom:before {
  content: "\f1d1";
}
