.tskn-f-icon-0:before {
  content: "\f101";
}
.tskn-f-icon-1:before {
  content: "\f102";
}
.tskn-f-icon-2:before {
  content: "\f103";
}
.tskn-f-icon-3:before {
  content: "\f104";
}
.tskn-f-icon-4:before {
  content: "\f105";
}
.tskn-f-icon-5:before {
  content: "\f106";
}
.tskn-f-icon-6:before {
  content: "\f107";
}
.tskn-f-icon-7:before {
  content: "\f108";
}
.tskn-f-icon-8:before {
  content: "\f109";
}
.tskn-f-icon-9:before {
  content: "\f10a";
}
.tskn-f-icon-a:before {
  content: "\f10b";
}
.tskn-f-icon-acorn:before {
  content: "\f10c";
}
.tskn-f-icon-ad:before {
  content: "\f10d";
}
.tskn-f-icon-add-document:before {
  content: "\f10e";
}
.tskn-f-icon-add-folder:before {
  content: "\f10f";
}
.tskn-f-icon-add:before {
  content: "\f110";
}
.tskn-f-icon-address-book:before {
  content: "\f111";
}
.tskn-f-icon-air-conditioner:before {
  content: "\f112";
}
.tskn-f-icon-air-freshener:before {
  content: "\f113";
}
.tskn-f-icon-alarm-clock:before {
  content: "\f114";
}
.tskn-f-icon-alarm-exclamation:before {
  content: "\f115";
}
.tskn-f-icon-alarm-plus:before {
  content: "\f116";
}
.tskn-f-icon-alarm-snooze:before {
  content: "\f117";
}
.tskn-f-icon-album-circle-plus:before {
  content: "\f118";
}
.tskn-f-icon-album-circle-user:before {
  content: "\f119";
}
.tskn-f-icon-album-collection:before {
  content: "\f11a";
}
.tskn-f-icon-album:before {
  content: "\f11b";
}
.tskn-f-icon-align-justify:before {
  content: "\f11c";
}
.tskn-f-icon-align-left:before {
  content: "\f11d";
}
.tskn-f-icon-ambulance:before {
  content: "\f11e";
}
.tskn-f-icon-amusement-park:before {
  content: "\f11f";
}
.tskn-f-icon-angle-circle-down:before {
  content: "\f120";
}
.tskn-f-icon-angle-circle-left:before {
  content: "\f121";
}
.tskn-f-icon-angle-circle-right:before {
  content: "\f122";
}
.tskn-f-icon-angle-circle-up:before {
  content: "\f123";
}
.tskn-f-icon-angle-double-left:before {
  content: "\f124";
}
.tskn-f-icon-angle-double-right:before {
  content: "\f125";
}
.tskn-f-icon-angle-double-small-down:before {
  content: "\f126";
}
.tskn-f-icon-angle-double-small-left:before {
  content: "\f127";
}
.tskn-f-icon-angle-double-small-right:before {
  content: "\f128";
}
.tskn-f-icon-angle-double-small-up:before {
  content: "\f129";
}
.tskn-f-icon-angle-down:before {
  content: "\f12a";
}
.tskn-f-icon-angle-left:before {
  content: "\f12b";
}
.tskn-f-icon-angle-right:before {
  content: "\f12c";
}
.tskn-f-icon-angle-small-down:before {
  content: "\f12d";
}
.tskn-f-icon-angle-small-left:before {
  content: "\f12e";
}
.tskn-f-icon-angle-small-right:before {
  content: "\f12f";
}
.tskn-f-icon-angle-small-up:before {
  content: "\f130";
}
.tskn-f-icon-angle-square-down:before {
  content: "\f131";
}
.tskn-f-icon-angle-square-left:before {
  content: "\f132";
}
.tskn-f-icon-angle-square-right:before {
  content: "\f133";
}
.tskn-f-icon-angle-square-up:before {
  content: "\f134";
}
.tskn-f-icon-angle-up:before {
  content: "\f135";
}
.tskn-f-icon-angry:before {
  content: "\f136";
}
.tskn-f-icon-animated-icon:before {
  content: "\f137";
}
.tskn-f-icon-apartment:before {
  content: "\f138";
}
.tskn-f-icon-api:before {
  content: "\f139";
}
.tskn-f-icon-apple-crate:before {
  content: "\f13a";
}
.tskn-f-icon-apple-whole:before {
  content: "\f13b";
}
.tskn-f-icon-apps-add:before {
  content: "\f13c";
}
.tskn-f-icon-apps-delete:before {
  content: "\f13d";
}
.tskn-f-icon-apps-sort:before {
  content: "\f13e";
}
.tskn-f-icon-apps:before {
  content: "\f13f";
}
.tskn-f-icon-archive:before {
  content: "\f140";
}
.tskn-f-icon-archway:before {
  content: "\f141";
}
.tskn-f-icon-arrow-alt-circle-down:before {
  content: "\f142";
}
.tskn-f-icon-arrow-alt-circle-left:before {
  content: "\f143";
}
.tskn-f-icon-arrow-alt-circle-right:before {
  content: "\f144";
}
.tskn-f-icon-arrow-alt-circle-up:before {
  content: "\f145";
}
.tskn-f-icon-arrow-alt-down:before {
  content: "\f146";
}
.tskn-f-icon-arrow-alt-from-bottom:before {
  content: "\f147";
}
.tskn-f-icon-arrow-alt-from-left:before {
  content: "\f148";
}
.tskn-f-icon-arrow-alt-from-right:before {
  content: "\f149";
}
.tskn-f-icon-arrow-alt-from-top:before {
  content: "\f14a";
}
.tskn-f-icon-arrow-alt-left:before {
  content: "\f14b";
}
.tskn-f-icon-arrow-alt-right:before {
  content: "\f14c";
}
.tskn-f-icon-arrow-alt-square-down:before {
  content: "\f14d";
}
.tskn-f-icon-arrow-alt-square-left:before {
  content: "\f14e";
}
.tskn-f-icon-arrow-alt-square-right:before {
  content: "\f14f";
}
.tskn-f-icon-arrow-alt-square-up:before {
  content: "\f150";
}
.tskn-f-icon-arrow-alt-to-bottom:before {
  content: "\f151";
}
.tskn-f-icon-arrow-alt-to-left:before {
  content: "\f152";
}
.tskn-f-icon-arrow-alt-to-right:before {
  content: "\f153";
}
.tskn-f-icon-arrow-alt-to-top:before {
  content: "\f154";
}
.tskn-f-icon-arrow-alt-up:before {
  content: "\f155";
}
.tskn-f-icon-arrow-circle-down:before {
  content: "\f156";
}
.tskn-f-icon-arrow-circle-left:before {
  content: "\f157";
}
.tskn-f-icon-arrow-circle-right:before {
  content: "\f158";
}
.tskn-f-icon-arrow-circle-up:before {
  content: "\f159";
}
.tskn-f-icon-arrow-down-from-dotted-line:before {
  content: "\f15a";
}
.tskn-f-icon-arrow-down-small-big:before {
  content: "\f15b";
}
.tskn-f-icon-arrow-down-to-dotted-line:before {
  content: "\f15c";
}
.tskn-f-icon-arrow-down-to-square:before {
  content: "\f15d";
}
.tskn-f-icon-arrow-down-triangle-square:before {
  content: "\f15e";
}
.tskn-f-icon-arrow-down:before {
  content: "\f15f";
}
.tskn-f-icon-arrow-from-bottom:before {
  content: "\f160";
}
.tskn-f-icon-arrow-from-left:before {
  content: "\f161";
}
.tskn-f-icon-arrow-from-right:before {
  content: "\f162";
}
.tskn-f-icon-arrow-from-top:before {
  content: "\f163";
}
.tskn-f-icon-arrow-left-from-line:before {
  content: "\f164";
}
.tskn-f-icon-arrow-left:before {
  content: "\f165";
}
.tskn-f-icon-arrow-right-to-bracket:before {
  content: "\f166";
}
.tskn-f-icon-arrow-right:before {
  content: "\f167";
}
.tskn-f-icon-arrow-small-down:before {
  content: "\f168";
}
.tskn-f-icon-arrow-small-left:before {
  content: "\f169";
}
.tskn-f-icon-arrow-small-right:before {
  content: "\f16a";
}
.tskn-f-icon-arrow-small-up:before {
  content: "\f16b";
}
.tskn-f-icon-arrow-square-down:before {
  content: "\f16c";
}
.tskn-f-icon-arrow-square-left:before {
  content: "\f16d";
}
.tskn-f-icon-arrow-square-right:before {
  content: "\f16e";
}
.tskn-f-icon-arrow-square-up:before {
  content: "\f16f";
}
.tskn-f-icon-arrow-to-bottom:before {
  content: "\f170";
}
.tskn-f-icon-arrow-to-left:before {
  content: "\f171";
}
.tskn-f-icon-arrow-to-right:before {
  content: "\f172";
}
.tskn-f-icon-arrow-to-top:before {
  content: "\f173";
}
.tskn-f-icon-arrow-trend-down:before {
  content: "\f174";
}
.tskn-f-icon-arrow-trend-up:before {
  content: "\f175";
}
.tskn-f-icon-arrow-turn-down-left:before {
  content: "\f176";
}
.tskn-f-icon-arrow-turn-down-right:before {
  content: "\f177";
}
.tskn-f-icon-arrow-up-from-dotted-line:before {
  content: "\f178";
}
.tskn-f-icon-arrow-up-from-square:before {
  content: "\f179";
}
.tskn-f-icon-arrow-up-left-from-circle:before {
  content: "\f17a";
}
.tskn-f-icon-arrow-up-left:before {
  content: "\f17b";
}
.tskn-f-icon-arrow-up-right-and-arrow-down-left-from-center:before {
  content: "\f17c";
}
.tskn-f-icon-arrow-up-right-from-square:before {
  content: "\f17d";
}
.tskn-f-icon-arrow-up-right:before {
  content: "\f17e";
}
.tskn-f-icon-arrow-up-small-big:before {
  content: "\f17f";
}
.tskn-f-icon-arrow-up-square-triangle:before {
  content: "\f180";
}
.tskn-f-icon-arrow-up-to-dotted-line:before {
  content: "\f181";
}
.tskn-f-icon-arrow-up:before {
  content: "\f182";
}
.tskn-f-icon-arrows-alt-h:before {
  content: "\f183";
}
.tskn-f-icon-arrows-alt-v:before {
  content: "\f184";
}
.tskn-f-icon-arrows-alt:before {
  content: "\f185";
}
.tskn-f-icon-arrows-cross:before {
  content: "\f186";
}
.tskn-f-icon-arrows-from-dotted-line:before {
  content: "\f187";
}
.tskn-f-icon-arrows-from-line:before {
  content: "\f188";
}
.tskn-f-icon-arrows-h-copy:before {
  content: "\f189";
}
.tskn-f-icon-arrows-h:before {
  content: "\f18a";
}
.tskn-f-icon-arrows-repeat-1:before {
  content: "\f18b";
}
.tskn-f-icon-arrows-repeat:before {
  content: "\f18c";
}
.tskn-f-icon-arrows-retweet:before {
  content: "\f18d";
}
.tskn-f-icon-arrows-to-dotted-line:before {
  content: "\f18e";
}
.tskn-f-icon-arrows-to-line:before {
  content: "\f18f";
}
.tskn-f-icon-arrows:before {
  content: "\f190";
}
.tskn-f-icon-assept-document:before {
  content: "\f191";
}
.tskn-f-icon-assistive-listening-systems:before {
  content: "\f192";
}
.tskn-f-icon-asterik:before {
  content: "\f193";
}
.tskn-f-icon-at:before {
  content: "\f194";
}
.tskn-f-icon-attribution-pen:before {
  content: "\f195";
}
.tskn-f-icon-attribution-pencil:before {
  content: "\f196";
}
.tskn-f-icon-aubergine:before {
  content: "\f197";
}
.tskn-f-icon-audio-description-slash:before {
  content: "\f198";
}
.tskn-f-icon-avocado:before {
  content: "\f199";
}
.tskn-f-icon-b:before {
  content: "\f19a";
}
.tskn-f-icon-baby-carriage:before {
  content: "\f19b";
}
.tskn-f-icon-background:before {
  content: "\f19c";
}
.tskn-f-icon-backpack:before {
  content: "\f19d";
}
.tskn-f-icon-bacon:before {
  content: "\f19e";
}
.tskn-f-icon-badge-check:before {
  content: "\f19f";
}
.tskn-f-icon-badge-dollar:before {
  content: "\f1a0";
}
.tskn-f-icon-badge-percent:before {
  content: "\f1a1";
}
.tskn-f-icon-badge-sheriff:before {
  content: "\f1a2";
}
.tskn-f-icon-badge:before {
  content: "\f1a3";
}
.tskn-f-icon-bags-shopping:before {
  content: "\f1a4";
}
.tskn-f-icon-bahai:before {
  content: "\f1a5";
}
.tskn-f-icon-balance-scale-left:before {
  content: "\f1a6";
}
.tskn-f-icon-balance-scale-right:before {
  content: "\f1a7";
}
.tskn-f-icon-balance-scale:before {
  content: "\f1a8";
}
.tskn-f-icon-balloons:before {
  content: "\f1a9";
}
.tskn-f-icon-ballot:before {
  content: "\f1aa";
}
.tskn-f-icon-ban:before {
  content: "\f1ab";
}
.tskn-f-icon-band-aid:before {
  content: "\f1ac";
}
.tskn-f-icon-bank:before {
  content: "\f1ad";
}
.tskn-f-icon-barber-shop:before {
  content: "\f1ae";
}
.tskn-f-icon-barcode-read:before {
  content: "\f1af";
}
.tskn-f-icon-barcode-scan:before {
  content: "\f1b0";
}
.tskn-f-icon-barcode:before {
  content: "\f1b1";
}
.tskn-f-icon-bars-progress:before {
  content: "\f1b2";
}
.tskn-f-icon-baseball-alt:before {
  content: "\f1b3";
}
.tskn-f-icon-baseball:before {
  content: "\f1b4";
}
.tskn-f-icon-basketball-hoop:before {
  content: "\f1b5";
}
.tskn-f-icon-basketball:before {
  content: "\f1b6";
}
.tskn-f-icon-battery-bolt:before {
  content: "\f1b7";
}
.tskn-f-icon-battery-empty:before {
  content: "\f1b8";
}
.tskn-f-icon-battery-full:before {
  content: "\f1b9";
}
.tskn-f-icon-battery-half:before {
  content: "\f1ba";
}
.tskn-f-icon-battery-quarter:before {
  content: "\f1bb";
}
.tskn-f-icon-battery-slash:before {
  content: "\f1bc";
}
.tskn-f-icon-battery-three-quarters:before {
  content: "\f1bd";
}
.tskn-f-icon-beacon:before {
  content: "\f1be";
}
.tskn-f-icon-bed-alt:before {
  content: "\f1bf";
}
.tskn-f-icon-bed:before {
  content: "\f1c0";
}
.tskn-f-icon-beer:before {
  content: "\f1c1";
}
.tskn-f-icon-bell-concierge:before {
  content: "\f1c2";
}
.tskn-f-icon-bell-ring:before {
  content: "\f1c3";
}
.tskn-f-icon-bell-school:before {
  content: "\f1c4";
}
.tskn-f-icon-bell:before {
  content: "\f1c5";
}
.tskn-f-icon-bells:before {
  content: "\f1c6";
}
.tskn-f-icon-bench-tree:before {
  content: "\f1c7";
}
.tskn-f-icon-betamax:before {
  content: "\f1c8";
}
.tskn-f-icon-bike:before {
  content: "\f1c9";
}
.tskn-f-icon-biking-mountain:before {
  content: "\f1ca";
}
.tskn-f-icon-biking:before {
  content: "\f1cb";
}
.tskn-f-icon-billiard:before {
  content: "\f1cc";
}
.tskn-f-icon-binoculars:before {
  content: "\f1cd";
}
.tskn-f-icon-blinds-open:before {
  content: "\f1ce";
}
.tskn-f-icon-blinds-raised:before {
  content: "\f1cf";
}
.tskn-f-icon-blinds:before {
  content: "\f1d0";
}
.tskn-f-icon-block-brick:before {
  content: "\f1d1";
}
.tskn-f-icon-block:before {
  content: "\f1d2";
}
.tskn-f-icon-blog-pencil:before {
  content: "\f1d3";
}
.tskn-f-icon-blog-text:before {
  content: "\f1d4";
}
.tskn-f-icon-blossom:before {
  content: "\f1d5";
}
.tskn-f-icon-bold:before {
  content: "\f1d6";
}
.tskn-f-icon-bolt:before {
  content: "\f1d7";
}
.tskn-f-icon-bomb:before {
  content: "\f1d8";
}
.tskn-f-icon-bone:before {
  content: "\f1d9";
}
.tskn-f-icon-book-alt:before {
  content: "\f1da";
}
.tskn-f-icon-book-arrow-right:before {
  content: "\f1db";
}
.tskn-f-icon-book-arrow-up:before {
  content: "\f1dc";
}
.tskn-f-icon-book-atlas:before {
  content: "\f1dd";
}
.tskn-f-icon-book-bookmark:before {
  content: "\f1de";
}
.tskn-f-icon-book-circle-arrow-right:before {
  content: "\f1df";
}
.tskn-f-icon-book-circle-arrow-up:before {
  content: "\f1e0";
}
.tskn-f-icon-book-font:before {
  content: "\f1e1";
}
.tskn-f-icon-book-open-cover:before {
  content: "\f1e2";
}
.tskn-f-icon-book-open-reader:before {
  content: "\f1e3";
}
.tskn-f-icon-book-quran:before {
  content: "\f1e4";
}
.tskn-f-icon-book-tanakh:before {
  content: "\f1e5";
}
.tskn-f-icon-book:before {
  content: "\f1e6";
}
.tskn-f-icon-bookmark-slash:before {
  content: "\f1e7";
}
.tskn-f-icon-bookmark:before {
  content: "\f1e8";
}
.tskn-f-icon-books:before {
  content: "\f1e9";
}
.tskn-f-icon-border-all:before {
  content: "\f1ea";
}
.tskn-f-icon-border-bottom:before {
  content: "\f1eb";
}
.tskn-f-icon-border-center-h:before {
  content: "\f1ec";
}
.tskn-f-icon-border-center-v:before {
  content: "\f1ed";
}
.tskn-f-icon-border-inner:before {
  content: "\f1ee";
}
.tskn-f-icon-border-left:before {
  content: "\f1ef";
}
.tskn-f-icon-border-none:before {
  content: "\f1f0";
}
.tskn-f-icon-border-outer:before {
  content: "\f1f1";
}
.tskn-f-icon-border-right:before {
  content: "\f1f2";
}
.tskn-f-icon-border-style-alt:before {
  content: "\f1f3";
}
.tskn-f-icon-border-style:before {
  content: "\f1f4";
}
.tskn-f-icon-border-top:before {
  content: "\f1f5";
}
.tskn-f-icon-bottle:before {
  content: "\f1f6";
}
.tskn-f-icon-bow-arrow:before {
  content: "\f1f7";
}
.tskn-f-icon-bowling-ball:before {
  content: "\f1f8";
}
.tskn-f-icon-bowling-pins:before {
  content: "\f1f9";
}
.tskn-f-icon-bowling:before {
  content: "\f1fa";
}
.tskn-f-icon-box-alt:before {
  content: "\f1fb";
}
.tskn-f-icon-box-ballot:before {
  content: "\f1fc";
}
.tskn-f-icon-box-check:before {
  content: "\f1fd";
}
.tskn-f-icon-box-fragile:before {
  content: "\f1fe";
}
.tskn-f-icon-box-open-full:before {
  content: "\f1ff";
}
.tskn-f-icon-box-open:before {
  content: "\f200";
}
.tskn-f-icon-box-tissue:before {
  content: "\f201";
}
.tskn-f-icon-box-up:before {
  content: "\f202";
}
.tskn-f-icon-box:before {
  content: "\f203";
}
.tskn-f-icon-boxes:before {
  content: "\f204";
}
.tskn-f-icon-boxing-glove:before {
  content: "\f205";
}
.tskn-f-icon-braille:before {
  content: "\f206";
}
.tskn-f-icon-brain-circuit:before {
  content: "\f207";
}
.tskn-f-icon-brain:before {
  content: "\f208";
}
.tskn-f-icon-bread-loaf:before {
  content: "\f209";
}
.tskn-f-icon-bread-slice:before {
  content: "\f20a";
}
.tskn-f-icon-bread:before {
  content: "\f20b";
}
.tskn-f-icon-briefcase:before {
  content: "\f20c";
}
.tskn-f-icon-brightness-low:before {
  content: "\f20d";
}
.tskn-f-icon-brightness:before {
  content: "\f20e";
}
.tskn-f-icon-bring-forward:before {
  content: "\f20f";
}
.tskn-f-icon-bring-front:before {
  content: "\f210";
}
.tskn-f-icon-broccoli:before {
  content: "\f211";
}
.tskn-f-icon-broken-image:before {
  content: "\f212";
}
.tskn-f-icon-broom:before {
  content: "\f213";
}
.tskn-f-icon-browser:before {
  content: "\f214";
}
.tskn-f-icon-brush:before {
  content: "\f215";
}
.tskn-f-icon-bug:before {
  content: "\f216";
}
.tskn-f-icon-building:before {
  content: "\f217";
}
.tskn-f-icon-bulb:before {
  content: "\f218";
}
.tskn-f-icon-bullet:before {
  content: "\f219";
}
.tskn-f-icon-bullseye-pointer:before {
  content: "\f21a";
}
.tskn-f-icon-bullseye:before {
  content: "\f21b";
}
.tskn-f-icon-burger-alt:before {
  content: "\f21c";
}
.tskn-f-icon-burger-fries:before {
  content: "\f21d";
}
.tskn-f-icon-burger-glass:before {
  content: "\f21e";
}
.tskn-f-icon-burrito:before {
  content: "\f21f";
}
.tskn-f-icon-bus-alt:before {
  content: "\f220";
}
.tskn-f-icon-bus:before {
  content: "\f221";
}
.tskn-f-icon-business-time:before {
  content: "\f222";
}
.tskn-f-icon-butterfly:before {
  content: "\f223";
}
.tskn-f-icon-c:before {
  content: "\f224";
}
.tskn-f-icon-cabin:before {
  content: "\f225";
}
.tskn-f-icon-cake-birthday:before {
  content: "\f226";
}
.tskn-f-icon-cake-wedding:before {
  content: "\f227";
}
.tskn-f-icon-calculator:before {
  content: "\f228";
}
.tskn-f-icon-calendar-arrow-down:before {
  content: "\f229";
}
.tskn-f-icon-calendar-arrow-up:before {
  content: "\f22a";
}
.tskn-f-icon-calendar-check:before {
  content: "\f22b";
}
.tskn-f-icon-calendar-clock:before {
  content: "\f22c";
}
.tskn-f-icon-calendar-day:before {
  content: "\f22d";
}
.tskn-f-icon-calendar-exclamation:before {
  content: "\f22e";
}
.tskn-f-icon-calendar-image:before {
  content: "\f22f";
}
.tskn-f-icon-calendar-lines-pen:before {
  content: "\f230";
}
.tskn-f-icon-calendar-lines:before {
  content: "\f231";
}
.tskn-f-icon-calendar-minus:before {
  content: "\f232";
}
.tskn-f-icon-calendar-pen:before {
  content: "\f233";
}
.tskn-f-icon-calendar-plus:before {
  content: "\f234";
}
.tskn-f-icon-calendar-star:before {
  content: "\f235";
}
.tskn-f-icon-calendar-week:before {
  content: "\f236";
}
.tskn-f-icon-calendar-xmark:before {
  content: "\f237";
}
.tskn-f-icon-calendar:before {
  content: "\f238";
}
.tskn-f-icon-calendars:before {
  content: "\f239";
}
.tskn-f-icon-call-history:before {
  content: "\f23a";
}
.tskn-f-icon-call-incoming:before {
  content: "\f23b";
}
.tskn-f-icon-call-missed:before {
  content: "\f23c";
}
.tskn-f-icon-call-outgoing:before {
  content: "\f23d";
}
.tskn-f-icon-camcorder:before {
  content: "\f23e";
}
.tskn-f-icon-camera:before {
  content: "\f23f";
}
.tskn-f-icon-camping:before {
  content: "\f240";
}
.tskn-f-icon-candy-alt:before {
  content: "\f241";
}
.tskn-f-icon-candy-cane:before {
  content: "\f242";
}
.tskn-f-icon-candy-corn:before {
  content: "\f243";
}
.tskn-f-icon-candy:before {
  content: "\f244";
}
.tskn-f-icon-canned-food:before {
  content: "\f245";
}
.tskn-f-icon-car-alt:before {
  content: "\f246";
}
.tskn-f-icon-car-battery:before {
  content: "\f247";
}
.tskn-f-icon-car-bolt:before {
  content: "\f248";
}
.tskn-f-icon-car-building:before {
  content: "\f249";
}
.tskn-f-icon-car-bump:before {
  content: "\f24a";
}
.tskn-f-icon-car-bus:before {
  content: "\f24b";
}
.tskn-f-icon-car-circle-bolt:before {
  content: "\f24c";
}
.tskn-f-icon-car-crash:before {
  content: "\f24d";
}
.tskn-f-icon-car-garage:before {
  content: "\f24e";
}
.tskn-f-icon-car-mechanic:before {
  content: "\f24f";
}
.tskn-f-icon-car-side-bolt:before {
  content: "\f250";
}
.tskn-f-icon-car-side:before {
  content: "\f251";
}
.tskn-f-icon-car-tilt:before {
  content: "\f252";
}
.tskn-f-icon-car-wash:before {
  content: "\f253";
}
.tskn-f-icon-car:before {
  content: "\f254";
}
.tskn-f-icon-caravan-alt:before {
  content: "\f255";
}
.tskn-f-icon-caravan:before {
  content: "\f256";
}
.tskn-f-icon-caret-circle-down:before {
  content: "\f257";
}
.tskn-f-icon-caret-circle-right:before {
  content: "\f258";
}
.tskn-f-icon-caret-circle-up:before {
  content: "\f259";
}
.tskn-f-icon-caret-down:before {
  content: "\f25a";
}
.tskn-f-icon-caret-left:before {
  content: "\f25b";
}
.tskn-f-icon-caret-quare-up:before {
  content: "\f25c";
}
.tskn-f-icon-caret-right:before {
  content: "\f25d";
}
.tskn-f-icon-caret-square-down:before {
  content: "\f25e";
}
.tskn-f-icon-caret-square-left_1:before {
  content: "\f25f";
}
.tskn-f-icon-caret-square-left:before {
  content: "\f260";
}
.tskn-f-icon-caret-square-right:before {
  content: "\f261";
}
.tskn-f-icon-caret-up:before {
  content: "\f262";
}
.tskn-f-icon-carrot:before {
  content: "\f263";
}
.tskn-f-icon-cars:before {
  content: "\f264";
}
.tskn-f-icon-cash-register:before {
  content: "\f265";
}
.tskn-f-icon-cassette-tape:before {
  content: "\f266";
}
.tskn-f-icon-cassette-vhs:before {
  content: "\f267";
}
.tskn-f-icon-castle:before {
  content: "\f268";
}
.tskn-f-icon-chair-office:before {
  content: "\f269";
}
.tskn-f-icon-chair:before {
  content: "\f26a";
}
.tskn-f-icon-charging-station:before {
  content: "\f26b";
}
.tskn-f-icon-chart-area:before {
  content: "\f26c";
}
.tskn-f-icon-chart-bullet:before {
  content: "\f26d";
}
.tskn-f-icon-chart-candlestick:before {
  content: "\f26e";
}
.tskn-f-icon-chart-connected:before {
  content: "\f26f";
}
.tskn-f-icon-chart-gantt:before {
  content: "\f270";
}
.tskn-f-icon-chart-histogram:before {
  content: "\f271";
}
.tskn-f-icon-chart-line-up:before {
  content: "\f272";
}
.tskn-f-icon-chart-mixed:before {
  content: "\f273";
}
.tskn-f-icon-chart-network:before {
  content: "\f274";
}
.tskn-f-icon-chart-pie-alt:before {
  content: "\f275";
}
.tskn-f-icon-chart-pie:before {
  content: "\f276";
}
.tskn-f-icon-chart-pyramid:before {
  content: "\f277";
}
.tskn-f-icon-chart-radar:before {
  content: "\f278";
}
.tskn-f-icon-chart-scatter-3d:before {
  content: "\f279";
}
.tskn-f-icon-chart-scatter-bubble:before {
  content: "\f27a";
}
.tskn-f-icon-chart-scatter:before {
  content: "\f27b";
}
.tskn-f-icon-chart-set-theory:before {
  content: "\f27c";
}
.tskn-f-icon-chart-tree:before {
  content: "\f27d";
}
.tskn-f-icon-chart-waterfall:before {
  content: "\f27e";
}
.tskn-f-icon-chat-arrow-down:before {
  content: "\f27f";
}
.tskn-f-icon-chat-arrow-grow:before {
  content: "\f280";
}
.tskn-f-icon-check:before {
  content: "\f281";
}
.tskn-f-icon-checkbox:before {
  content: "\f282";
}
.tskn-f-icon-cheese-alt:before {
  content: "\f283";
}
.tskn-f-icon-cheese:before {
  content: "\f284";
}
.tskn-f-icon-cherry:before {
  content: "\f285";
}
.tskn-f-icon-chess-bishop:before {
  content: "\f286";
}
.tskn-f-icon-chess-board:before {
  content: "\f287";
}
.tskn-f-icon-chess-clock-alt:before {
  content: "\f288";
}
.tskn-f-icon-chess-clock:before {
  content: "\f289";
}
.tskn-f-icon-chess-king-alt:before {
  content: "\f28a";
}
.tskn-f-icon-chess-king:before {
  content: "\f28b";
}
.tskn-f-icon-chess-knight-alt:before {
  content: "\f28c";
}
.tskn-f-icon-chess-knight:before {
  content: "\f28d";
}
.tskn-f-icon-chess-pawn-alt:before {
  content: "\f28e";
}
.tskn-f-icon-chess-pawn:before {
  content: "\f28f";
}
.tskn-f-icon-chess-piece:before {
  content: "\f290";
}
.tskn-f-icon-chess-queen-alt:before {
  content: "\f291";
}
.tskn-f-icon-chess-queen:before {
  content: "\f292";
}
.tskn-f-icon-chess-rook-alt:before {
  content: "\f293";
}
.tskn-f-icon-chess-rook:before {
  content: "\f294";
}
.tskn-f-icon-chess:before {
  content: "\f295";
}
.tskn-f-icon-chevron-double-down:before {
  content: "\f296";
}
.tskn-f-icon-chevron-double-up:before {
  content: "\f297";
}
.tskn-f-icon-child-head:before {
  content: "\f298";
}
.tskn-f-icon-chocolate:before {
  content: "\f299";
}
.tskn-f-icon-circle-0:before {
  content: "\f29a";
}
.tskn-f-icon-circle-1:before {
  content: "\f29b";
}
.tskn-f-icon-circle-2:before {
  content: "\f29c";
}
.tskn-f-icon-circle-3:before {
  content: "\f29d";
}
.tskn-f-icon-circle-4:before {
  content: "\f29e";
}
.tskn-f-icon-circle-5:before {
  content: "\f29f";
}
.tskn-f-icon-circle-6:before {
  content: "\f2a0";
}
.tskn-f-icon-circle-7:before {
  content: "\f2a1";
}
.tskn-f-icon-circle-8:before {
  content: "\f2a2";
}
.tskn-f-icon-circle-9:before {
  content: "\f2a3";
}
.tskn-f-icon-circle-book-open:before {
  content: "\f2a4";
}
.tskn-f-icon-circle-bookmark:before {
  content: "\f2a5";
}
.tskn-f-icon-circle-calendar:before {
  content: "\f2a6";
}
.tskn-f-icon-circle-dashed:before {
  content: "\f2a7";
}
.tskn-f-icon-circle-envelope:before {
  content: "\f2a8";
}
.tskn-f-icon-circle-half-stroke:before {
  content: "\f2a9";
}
.tskn-f-icon-circle-heart:before {
  content: "\f2aa";
}
.tskn-f-icon-circle-phone-flip:before {
  content: "\f2ab";
}
.tskn-f-icon-circle-phone-hangup:before {
  content: "\f2ac";
}
.tskn-f-icon-circle-phone:before {
  content: "\f2ad";
}
.tskn-f-icon-circle-small:before {
  content: "\f2ae";
}
.tskn-f-icon-circle:before {
  content: "\f2af";
}
.tskn-f-icon-city:before {
  content: "\f2b0";
}
.tskn-f-icon-clip:before {
  content: "\f2b1";
}
.tskn-f-icon-clipboard-list-check:before {
  content: "\f2b2";
}
.tskn-f-icon-clipboard-list:before {
  content: "\f2b3";
}
.tskn-f-icon-clock-eight-thirty:before {
  content: "\f2b4";
}
.tskn-f-icon-clock-eleven-thirty:before {
  content: "\f2b5";
}
.tskn-f-icon-clock-eleven:before {
  content: "\f2b6";
}
.tskn-f-icon-clock-five-thirty:before {
  content: "\f2b7";
}
.tskn-f-icon-clock-five:before {
  content: "\f2b8";
}
.tskn-f-icon-clock-four-thirty:before {
  content: "\f2b9";
}
.tskn-f-icon-clock-nine-thirty:before {
  content: "\f2ba";
}
.tskn-f-icon-clock-nine:before {
  content: "\f2bb";
}
.tskn-f-icon-clock-one-thirty:before {
  content: "\f2bc";
}
.tskn-f-icon-clock-one:before {
  content: "\f2bd";
}
.tskn-f-icon-clock-seven-thirty:before {
  content: "\f2be";
}
.tskn-f-icon-clock-seven:before {
  content: "\f2bf";
}
.tskn-f-icon-clock-six-thirty:before {
  content: "\f2c0";
}
.tskn-f-icon-clock-six:before {
  content: "\f2c1";
}
.tskn-f-icon-clock-ten-thirty:before {
  content: "\f2c2";
}
.tskn-f-icon-clock-ten:before {
  content: "\f2c3";
}
.tskn-f-icon-clock-three-thirty:before {
  content: "\f2c4";
}
.tskn-f-icon-clock-three:before {
  content: "\f2c5";
}
.tskn-f-icon-clock-twelve-thirty:before {
  content: "\f2c6";
}
.tskn-f-icon-clock-twelve:before {
  content: "\f2c7";
}
.tskn-f-icon-clock-two-thirty:before {
  content: "\f2c8";
}
.tskn-f-icon-clock-two:before {
  content: "\f2c9";
}
.tskn-f-icon-clock:before {
  content: "\f2ca";
}
.tskn-f-icon-closed-captioning-slash:before {
  content: "\f2cb";
}
.tskn-f-icon-cloud-check:before {
  content: "\f2cc";
}
.tskn-f-icon-cloud-disabled:before {
  content: "\f2cd";
}
.tskn-f-icon-cloud-download-alt:before {
  content: "\f2ce";
}
.tskn-f-icon-cloud-download:before {
  content: "\f2cf";
}
.tskn-f-icon-cloud-drizzle:before {
  content: "\f2d0";
}
.tskn-f-icon-cloud-hail-mixed:before {
  content: "\f2d1";
}
.tskn-f-icon-cloud-hail:before {
  content: "\f2d2";
}
.tskn-f-icon-cloud-moon-rain:before {
  content: "\f2d3";
}
.tskn-f-icon-cloud-moon:before {
  content: "\f2d4";
}
.tskn-f-icon-cloud-rain:before {
  content: "\f2d5";
}
.tskn-f-icon-cloud-rainbow:before {
  content: "\f2d6";
}
.tskn-f-icon-cloud-share:before {
  content: "\f2d7";
}
.tskn-f-icon-cloud-showers-heavy:before {
  content: "\f2d8";
}
.tskn-f-icon-cloud-showers:before {
  content: "\f2d9";
}
.tskn-f-icon-cloud-sleet:before {
  content: "\f2da";
}
.tskn-f-icon-cloud-snow:before {
  content: "\f2db";
}
.tskn-f-icon-cloud-sun-rain:before {
  content: "\f2dc";
}
.tskn-f-icon-cloud-sun:before {
  content: "\f2dd";
}
.tskn-f-icon-cloud-upload-alt:before {
  content: "\f2de";
}
.tskn-f-icon-cloud-upload:before {
  content: "\f2df";
}
.tskn-f-icon-cloud:before {
  content: "\f2e0";
}
.tskn-f-icon-clouds-moon:before {
  content: "\f2e1";
}
.tskn-f-icon-clouds-sun:before {
  content: "\f2e2";
}
.tskn-f-icon-clouds:before {
  content: "\f2e3";
}
.tskn-f-icon-club:before {
  content: "\f2e4";
}
.tskn-f-icon-cocktail-alt:before {
  content: "\f2e5";
}
.tskn-f-icon-cocktail:before {
  content: "\f2e6";
}
.tskn-f-icon-code-branch:before {
  content: "\f2e7";
}
.tskn-f-icon-code-commit:before {
  content: "\f2e8";
}
.tskn-f-icon-code-compare:before {
  content: "\f2e9";
}
.tskn-f-icon-code-fork:before {
  content: "\f2ea";
}
.tskn-f-icon-code-merge:before {
  content: "\f2eb";
}
.tskn-f-icon-code-pull-request-closed:before {
  content: "\f2ec";
}
.tskn-f-icon-code-pull-request-draft:before {
  content: "\f2ed";
}
.tskn-f-icon-code-pull-request:before {
  content: "\f2ee";
}
.tskn-f-icon-code-simple:before {
  content: "\f2ef";
}
.tskn-f-icon-coffee-pot:before {
  content: "\f2f0";
}
.tskn-f-icon-coffee:before {
  content: "\f2f1";
}
.tskn-f-icon-coin:before {
  content: "\f2f2";
}
.tskn-f-icon-coins:before {
  content: "\f2f3";
}
.tskn-f-icon-comet:before {
  content: "\f2f4";
}
.tskn-f-icon-comment-alt-middle-top:before {
  content: "\f2f5";
}
.tskn-f-icon-comment-alt-middle:before {
  content: "\f2f6";
}
.tskn-f-icon-comment-alt:before {
  content: "\f2f7";
}
.tskn-f-icon-comment-arrow-down:before {
  content: "\f2f8";
}
.tskn-f-icon-comment-arrow-up-right:before {
  content: "\f2f9";
}
.tskn-f-icon-comment-arrow-up:before {
  content: "\f2fa";
}
.tskn-f-icon-comment-check:before {
  content: "\f2fb";
}
.tskn-f-icon-comment-code:before {
  content: "\f2fc";
}
.tskn-f-icon-comment-dollar:before {
  content: "\f2fd";
}
.tskn-f-icon-comment-exclamation:before {
  content: "\f2fe";
}
.tskn-f-icon-comment-heart:before {
  content: "\f2ff";
}
.tskn-f-icon-comment-image:before {
  content: "\f300";
}
.tskn-f-icon-comment-info:before {
  content: "\f301";
}
.tskn-f-icon-comment-pen:before {
  content: "\f302";
}
.tskn-f-icon-comment-question:before {
  content: "\f303";
}
.tskn-f-icon-comment-quote:before {
  content: "\f304";
}
.tskn-f-icon-comment-slash:before {
  content: "\f305";
}
.tskn-f-icon-comment-sms:before {
  content: "\f306";
}
.tskn-f-icon-comment-text:before {
  content: "\f307";
}
.tskn-f-icon-comment-user:before {
  content: "\f308";
}
.tskn-f-icon-comment-xmark:before {
  content: "\f309";
}
.tskn-f-icon-comment:before {
  content: "\f30a";
}
.tskn-f-icon-comments-dollar:before {
  content: "\f30b";
}
.tskn-f-icon-comments-question-check:before {
  content: "\f30c";
}
.tskn-f-icon-comments-question:before {
  content: "\f30d";
}
.tskn-f-icon-comments:before {
  content: "\f30e";
}
.tskn-f-icon-compress-alt:before {
  content: "\f30f";
}
.tskn-f-icon-compress:before {
  content: "\f310";
}
.tskn-f-icon-computer:before {
  content: "\f311";
}
.tskn-f-icon-concierge-bell:before {
  content: "\f312";
}
.tskn-f-icon-confetti:before {
  content: "\f313";
}
.tskn-f-icon-cookie:before {
  content: "\f314";
}
.tskn-f-icon-copy-alt:before {
  content: "\f315";
}
.tskn-f-icon-copy-image:before {
  content: "\f316";
}
.tskn-f-icon-copy:before {
  content: "\f317";
}
.tskn-f-icon-copyright:before {
  content: "\f318";
}
.tskn-f-icon-corn:before {
  content: "\f319";
}
.tskn-f-icon-cow:before {
  content: "\f31a";
}
.tskn-f-icon-cowbell-more:before {
  content: "\f31b";
}
.tskn-f-icon-cowbell:before {
  content: "\f31c";
}
.tskn-f-icon-cream:before {
  content: "\f31d";
}
.tskn-f-icon-credit-card:before {
  content: "\f31e";
}
.tskn-f-icon-cricket:before {
  content: "\f31f";
}
.tskn-f-icon-croissant:before {
  content: "\f320";
}
.tskn-f-icon-cross-circle:before {
  content: "\f321";
}
.tskn-f-icon-cross-religion:before {
  content: "\f322";
}
.tskn-f-icon-cross-small:before {
  content: "\f323";
}
.tskn-f-icon-cross:before {
  content: "\f324";
}
.tskn-f-icon-crown:before {
  content: "\f325";
}
.tskn-f-icon-crystal-ball:before {
  content: "\f326";
}
.tskn-f-icon-cube:before {
  content: "\f327";
}
.tskn-f-icon-cubes:before {
  content: "\f328";
}
.tskn-f-icon-cupcake:before {
  content: "\f329";
}
.tskn-f-icon-curling:before {
  content: "\f32a";
}
.tskn-f-icon-cursor-finger:before {
  content: "\f32b";
}
.tskn-f-icon-cursor-plus:before {
  content: "\f32c";
}
.tskn-f-icon-cursor-text-alt:before {
  content: "\f32d";
}
.tskn-f-icon-cursor-text:before {
  content: "\f32e";
}
.tskn-f-icon-cursor:before {
  content: "\f32f";
}
.tskn-f-icon-d:before {
  content: "\f330";
}
.tskn-f-icon-dart:before {
  content: "\f331";
}
.tskn-f-icon-dashboard:before {
  content: "\f332";
}
.tskn-f-icon-data-transfer:before {
  content: "\f333";
}
.tskn-f-icon-database:before {
  content: "\f334";
}
.tskn-f-icon-delete-document:before {
  content: "\f335";
}
.tskn-f-icon-delete-user:before {
  content: "\f336";
}
.tskn-f-icon-delete:before {
  content: "\f337";
}
.tskn-f-icon-democrat:before {
  content: "\f338";
}
.tskn-f-icon-desktop-wallpaper:before {
  content: "\f339";
}
.tskn-f-icon-devices:before {
  content: "\f33a";
}
.tskn-f-icon-dewpoint:before {
  content: "\f33b";
}
.tskn-f-icon-diagram-cells:before {
  content: "\f33c";
}
.tskn-f-icon-diagram-lean-canvas:before {
  content: "\f33d";
}
.tskn-f-icon-diagram-nested:before {
  content: "\f33e";
}
.tskn-f-icon-diagram-next:before {
  content: "\f33f";
}
.tskn-f-icon-diagram-predecessor:before {
  content: "\f340";
}
.tskn-f-icon-diagram-previous:before {
  content: "\f341";
}
.tskn-f-icon-diagram-project:before {
  content: "\f342";
}
.tskn-f-icon-diagram-sankey:before {
  content: "\f343";
}
.tskn-f-icon-diagram-subtask:before {
  content: "\f344";
}
.tskn-f-icon-diagram-successor:before {
  content: "\f345";
}
.tskn-f-icon-diamond-turn-right:before {
  content: "\f346";
}
.tskn-f-icon-diamond:before {
  content: "\f347";
}
.tskn-f-icon-dice-alt:before {
  content: "\f348";
}
.tskn-f-icon-dice-d10:before {
  content: "\f349";
}
.tskn-f-icon-dice-d12:before {
  content: "\f34a";
}
.tskn-f-icon-dice-d20:before {
  content: "\f34b";
}
.tskn-f-icon-dice-d4:before {
  content: "\f34c";
}
.tskn-f-icon-dice-d6:before {
  content: "\f34d";
}
.tskn-f-icon-dice-d8:before {
  content: "\f34e";
}
.tskn-f-icon-dice-four:before {
  content: "\f34f";
}
.tskn-f-icon-dice-one:before {
  content: "\f350";
}
.tskn-f-icon-dice-six:before {
  content: "\f351";
}
.tskn-f-icon-dice-three:before {
  content: "\f352";
}
.tskn-f-icon-dice-two:before {
  content: "\f353";
}
.tskn-f-icon-dice:before {
  content: "\f354";
}
.tskn-f-icon-diploma:before {
  content: "\f355";
}
.tskn-f-icon-disk:before {
  content: "\f356";
}
.tskn-f-icon-display-code:before {
  content: "\f357";
}
.tskn-f-icon-distribute-spacing-horizontal:before {
  content: "\f358";
}
.tskn-f-icon-distribute-spacing-vertical:before {
  content: "\f359";
}
.tskn-f-icon-dizzy:before {
  content: "\f35a";
}
.tskn-f-icon-doctor:before {
  content: "\f35b";
}
.tskn-f-icon-document-signed:before {
  content: "\f35c";
}
.tskn-f-icon-document:before {
  content: "\f35d";
}
.tskn-f-icon-dollar:before {
  content: "\f35e";
}
.tskn-f-icon-donate:before {
  content: "\f35f";
}
.tskn-f-icon-door-closed:before {
  content: "\f360";
}
.tskn-f-icon-door-open:before {
  content: "\f361";
}
.tskn-f-icon-down-left-and-up-right-to-center:before {
  content: "\f362";
}
.tskn-f-icon-down-left:before {
  content: "\f363";
}
.tskn-f-icon-down-right:before {
  content: "\f364";
}
.tskn-f-icon-down-to-line:before {
  content: "\f365";
}
.tskn-f-icon-down:before {
  content: "\f366";
}
.tskn-f-icon-download:before {
  content: "\f367";
}
.tskn-f-icon-drafting-compass:before {
  content: "\f368";
}
.tskn-f-icon-dreidel:before {
  content: "\f369";
}
.tskn-f-icon-drink-alt:before {
  content: "\f36a";
}
.tskn-f-icon-drumstick:before {
  content: "\f36b";
}
.tskn-f-icon-dungeon:before {
  content: "\f36c";
}
.tskn-f-icon-duplicate:before {
  content: "\f36d";
}
.tskn-f-icon-e-learning:before {
  content: "\f36e";
}
.tskn-f-icon-e:before {
  content: "\f36f";
}
.tskn-f-icon-ear-deaf:before {
  content: "\f370";
}
.tskn-f-icon-earnings:before {
  content: "\f371";
}
.tskn-f-icon-earth-africa:before {
  content: "\f372";
}
.tskn-f-icon-earth-americas:before {
  content: "\f373";
}
.tskn-f-icon-earth-asia:before {
  content: "\f374";
}
.tskn-f-icon-earth-europa:before {
  content: "\f375";
}
.tskn-f-icon-eclipse-alt:before {
  content: "\f376";
}
.tskn-f-icon-eclipse:before {
  content: "\f377";
}
.tskn-f-icon-edit-alt:before {
  content: "\f378";
}
.tskn-f-icon-edit:before {
  content: "\f379";
}
.tskn-f-icon-egg-fried:before {
  content: "\f37a";
}
.tskn-f-icon-egg:before {
  content: "\f37b";
}
.tskn-f-icon-elevator:before {
  content: "\f37c";
}
.tskn-f-icon-engine-warning:before {
  content: "\f37d";
}
.tskn-f-icon-enter:before {
  content: "\f37e";
}
.tskn-f-icon-entertainment:before {
  content: "\f37f";
}
.tskn-f-icon-envelope-ban:before {
  content: "\f380";
}
.tskn-f-icon-envelope-bulk:before {
  content: "\f381";
}
.tskn-f-icon-envelope-download:before {
  content: "\f382";
}
.tskn-f-icon-envelope-marker:before {
  content: "\f383";
}
.tskn-f-icon-envelope-open-dollar:before {
  content: "\f384";
}
.tskn-f-icon-envelope-open-text:before {
  content: "\f385";
}
.tskn-f-icon-envelope-open:before {
  content: "\f386";
}
.tskn-f-icon-envelope-plus:before {
  content: "\f387";
}
.tskn-f-icon-envelope:before {
  content: "\f388";
}
.tskn-f-icon-equipment:before {
  content: "\f389";
}
.tskn-f-icon-escalator:before {
  content: "\f38a";
}
.tskn-f-icon-euro:before {
  content: "\f38b";
}
.tskn-f-icon-exchange-alt:before {
  content: "\f38c";
}
.tskn-f-icon-exchange:before {
  content: "\f38d";
}
.tskn-f-icon-exclamation:before {
  content: "\f38e";
}
.tskn-f-icon-exit:before {
  content: "\f38f";
}
.tskn-f-icon-expand-arrows-alt:before {
  content: "\f390";
}
.tskn-f-icon-expand-arrows:before {
  content: "\f391";
}
.tskn-f-icon-expand:before {
  content: "\f392";
}
.tskn-f-icon-eye-crossed:before {
  content: "\f393";
}
.tskn-f-icon-eye:before {
  content: "\f394";
}
.tskn-f-icon-f:before {
  content: "\f395";
}
.tskn-f-icon-face-awesome:before {
  content: "\f396";
}
.tskn-f-icon-face-head-bandage:before {
  content: "\f397";
}
.tskn-f-icon-farm:before {
  content: "\f398";
}
.tskn-f-icon-feather:before {
  content: "\f399";
}
.tskn-f-icon-fence:before {
  content: "\f39a";
}
.tskn-f-icon-field-hockey:before {
  content: "\f39b";
}
.tskn-f-icon-fighter-jet:before {
  content: "\f39c";
}
.tskn-f-icon-file-ai:before {
  content: "\f39d";
}
.tskn-f-icon-file-chart-line:before {
  content: "\f39e";
}
.tskn-f-icon-file-chart-pie:before {
  content: "\f39f";
}
.tskn-f-icon-file-code:before {
  content: "\f3a0";
}
.tskn-f-icon-file-eps:before {
  content: "\f3a1";
}
.tskn-f-icon-file-excel:before {
  content: "\f3a2";
}
.tskn-f-icon-file-export:before {
  content: "\f3a3";
}
.tskn-f-icon-file-invoice-dollar:before {
  content: "\f3a4";
}
.tskn-f-icon-file-invoice:before {
  content: "\f3a5";
}
.tskn-f-icon-file-pdf:before {
  content: "\f3a6";
}
.tskn-f-icon-file-powerpoint:before {
  content: "\f3a7";
}
.tskn-f-icon-file-psd:before {
  content: "\f3a8";
}
.tskn-f-icon-file-spreadsheet:before {
  content: "\f3a9";
}
.tskn-f-icon-file-video:before {
  content: "\f3aa";
}
.tskn-f-icon-file-word:before {
  content: "\f3ab";
}
.tskn-f-icon-file:before {
  content: "\f3ac";
}
.tskn-f-icon-fill:before {
  content: "\f3ad";
}
.tskn-f-icon-film-slash:before {
  content: "\f3ae";
}
.tskn-f-icon-film:before {
  content: "\f3af";
}
.tskn-f-icon-filter-slash:before {
  content: "\f3b0";
}
.tskn-f-icon-filter:before {
  content: "\f3b1";
}
.tskn-f-icon-filters:before {
  content: "\f3b2";
}
.tskn-f-icon-fingerprint:before {
  content: "\f3b3";
}
.tskn-f-icon-fire-flame-curved:before {
  content: "\f3b4";
}
.tskn-f-icon-fire-smoke:before {
  content: "\f3b5";
}
.tskn-f-icon-fish:before {
  content: "\f3b6";
}
.tskn-f-icon-fishing-rod:before {
  content: "\f3b7";
}
.tskn-f-icon-flag-alt:before {
  content: "\f3b8";
}
.tskn-f-icon-flag-checkered:before {
  content: "\f3b9";
}
.tskn-f-icon-flag-usa:before {
  content: "\f3ba";
}
.tskn-f-icon-flag:before {
  content: "\f3bb";
}
.tskn-f-icon-flame:before {
  content: "\f3bc";
}
.tskn-f-icon-flip-horizontal:before {
  content: "\f3bd";
}
.tskn-f-icon-flower-tulip:before {
  content: "\f3be";
}
.tskn-f-icon-flower:before {
  content: "\f3bf";
}
.tskn-f-icon-flushed:before {
  content: "\f3c0";
}
.tskn-f-icon-fog:before {
  content: "\f3c1";
}
.tskn-f-icon-folder-download:before {
  content: "\f3c2";
}
.tskn-f-icon-folder-minus:before {
  content: "\f3c3";
}
.tskn-f-icon-folder-times:before {
  content: "\f3c4";
}
.tskn-f-icon-folder-tree:before {
  content: "\f3c5";
}
.tskn-f-icon-folder-upload:before {
  content: "\f3c6";
}
.tskn-f-icon-folder:before {
  content: "\f3c7";
}
.tskn-f-icon-folders:before {
  content: "\f3c8";
}
.tskn-f-icon-follow-folder:before {
  content: "\f3c9";
}
.tskn-f-icon-followcollection:before {
  content: "\f3ca";
}
.tskn-f-icon-following:before {
  content: "\f3cb";
}
.tskn-f-icon-football:before {
  content: "\f3cc";
}
.tskn-f-icon-fork:before {
  content: "\f3cd";
}
.tskn-f-icon-form:before {
  content: "\f3ce";
}
.tskn-f-icon-fort:before {
  content: "\f3cf";
}
.tskn-f-icon-forward:before {
  content: "\f3d0";
}
.tskn-f-icon-fox:before {
  content: "\f3d1";
}
.tskn-f-icon-french-fries:before {
  content: "\f3d2";
}
.tskn-f-icon-frown:before {
  content: "\f3d3";
}
.tskn-f-icon-ftp:before {
  content: "\f3d4";
}
.tskn-f-icon-funnel-dollar:before {
  content: "\f3d5";
}
.tskn-f-icon-g:before {
  content: "\f3d6";
}
.tskn-f-icon-gallery-thumbnails:before {
  content: "\f3d7";
}
.tskn-f-icon-gallery:before {
  content: "\f3d8";
}
.tskn-f-icon-game-board-alt:before {
  content: "\f3d9";
}
.tskn-f-icon-game:before {
  content: "\f3da";
}
.tskn-f-icon-gamepad:before {
  content: "\f3db";
}
.tskn-f-icon-games:before {
  content: "\f3dc";
}
.tskn-f-icon-garage-car:before {
  content: "\f3dd";
}
.tskn-f-icon-garage-open:before {
  content: "\f3de";
}
.tskn-f-icon-garage:before {
  content: "\f3df";
}
.tskn-f-icon-garlic:before {
  content: "\f3e0";
}
.tskn-f-icon-gas-pump-alt:before {
  content: "\f3e1";
}
.tskn-f-icon-gas-pump-slash:before {
  content: "\f3e2";
}
.tskn-f-icon-gas-pump:before {
  content: "\f3e3";
}
.tskn-f-icon-gavel:before {
  content: "\f3e4";
}
.tskn-f-icon-gem:before {
  content: "\f3e5";
}
.tskn-f-icon-gif:before {
  content: "\f3e6";
}
.tskn-f-icon-gift-card:before {
  content: "\f3e7";
}
.tskn-f-icon-gift:before {
  content: "\f3e8";
}
.tskn-f-icon-gifts:before {
  content: "\f3e9";
}
.tskn-f-icon-gingerbread-man:before {
  content: "\f3ea";
}
.tskn-f-icon-glass-cheers:before {
  content: "\f3eb";
}
.tskn-f-icon-glass:before {
  content: "\f3ec";
}
.tskn-f-icon-glasses:before {
  content: "\f3ed";
}
.tskn-f-icon-globe-alt:before {
  content: "\f3ee";
}
.tskn-f-icon-globe:before {
  content: "\f3ef";
}
.tskn-f-icon-golf-ball:before {
  content: "\f3f0";
}
.tskn-f-icon-golf-club:before {
  content: "\f3f1";
}
.tskn-f-icon-golf:before {
  content: "\f3f2";
}
.tskn-f-icon-graduation-cap:before {
  content: "\f3f3";
}
.tskn-f-icon-grape:before {
  content: "\f3f4";
}
.tskn-f-icon-graphic-style:before {
  content: "\f3f5";
}
.tskn-f-icon-graphic-tablet:before {
  content: "\f3f6";
}
.tskn-f-icon-grid-alt:before {
  content: "\f3f7";
}
.tskn-f-icon-grid-dividers:before {
  content: "\f3f8";
}
.tskn-f-icon-grid:before {
  content: "\f3f9";
}
.tskn-f-icon-grill:before {
  content: "\f3fa";
}
.tskn-f-icon-grimace:before {
  content: "\f3fb";
}
.tskn-f-icon-grin-alt:before {
  content: "\f3fc";
}
.tskn-f-icon-grin-beam-sweat:before {
  content: "\f3fd";
}
.tskn-f-icon-grin-beam:before {
  content: "\f3fe";
}
.tskn-f-icon-grin-hearts:before {
  content: "\f3ff";
}
.tskn-f-icon-grin-squint-tears:before {
  content: "\f400";
}
.tskn-f-icon-grin-squint:before {
  content: "\f401";
}
.tskn-f-icon-grin-stars:before {
  content: "\f402";
}
.tskn-f-icon-grin-tears:before {
  content: "\f403";
}
.tskn-f-icon-grin-tongue-squint:before {
  content: "\f404";
}
.tskn-f-icon-grin-tongue-wink:before {
  content: "\f405";
}
.tskn-f-icon-grin-tongue:before {
  content: "\f406";
}
.tskn-f-icon-grin-wink:before {
  content: "\f407";
}
.tskn-f-icon-grin:before {
  content: "\f408";
}
.tskn-f-icon-guitar:before {
  content: "\f409";
}
.tskn-f-icon-gym:before {
  content: "\f40a";
}
.tskn-f-icon-h:before {
  content: "\f40b";
}
.tskn-f-icon-hamburger-soda:before {
  content: "\f40c";
}
.tskn-f-icon-hamburger:before {
  content: "\f40d";
}
.tskn-f-icon-hammer-crash:before {
  content: "\f40e";
}
.tskn-f-icon-hammer-war:before {
  content: "\f40f";
}
.tskn-f-icon-hammer:before {
  content: "\f410";
}
.tskn-f-icon-hand-holding-box:before {
  content: "\f411";
}
.tskn-f-icon-hand-holding-heart:before {
  content: "\f412";
}
.tskn-f-icon-hand-holding-seeding:before {
  content: "\f413";
}
.tskn-f-icon-hand-horns:before {
  content: "\f414";
}
.tskn-f-icon-hand-lizard:before {
  content: "\f415";
}
.tskn-f-icon-hand-peace:before {
  content: "\f416";
}
.tskn-f-icon-hands-clapping:before {
  content: "\f417";
}
.tskn-f-icon-handshake-angle:before {
  content: "\f418";
}
.tskn-f-icon-handshake:before {
  content: "\f419";
}
.tskn-f-icon-hastag:before {
  content: "\f41a";
}
.tskn-f-icon-hat-birthday:before {
  content: "\f41b";
}
.tskn-f-icon-hat-chef:before {
  content: "\f41c";
}
.tskn-f-icon-head-side-brain:before {
  content: "\f41d";
}
.tskn-f-icon-head-side-cough-slash:before {
  content: "\f41e";
}
.tskn-f-icon-head-side-cough:before {
  content: "\f41f";
}
.tskn-f-icon-head-side-heart:before {
  content: "\f420";
}
.tskn-f-icon-head-side-mask:before {
  content: "\f421";
}
.tskn-f-icon-head-side-medical:before {
  content: "\f422";
}
.tskn-f-icon-head-side-thinking:before {
  content: "\f423";
}
.tskn-f-icon-head-side-virus:before {
  content: "\f424";
}
.tskn-f-icon-head-side:before {
  content: "\f425";
}
.tskn-f-icon-head-vr:before {
  content: "\f426";
}
.tskn-f-icon-headphones:before {
  content: "\f427";
}
.tskn-f-icon-headset:before {
  content: "\f428";
}
.tskn-f-icon-heart-arrow:before {
  content: "\f429";
}
.tskn-f-icon-heart-crack:before {
  content: "\f42a";
}
.tskn-f-icon-heart:before {
  content: "\f42b";
}
.tskn-f-icon-heat:before {
  content: "\f42c";
}
.tskn-f-icon-helicopter-side:before {
  content: "\f42d";
}
.tskn-f-icon-highlighter-line:before {
  content: "\f42e";
}
.tskn-f-icon-highlighter:before {
  content: "\f42f";
}
.tskn-f-icon-hiking:before {
  content: "\f430";
}
.tskn-f-icon-hockey-mask:before {
  content: "\f431";
}
.tskn-f-icon-hockey-puck:before {
  content: "\f432";
}
.tskn-f-icon-hockey-sticks:before {
  content: "\f433";
}
.tskn-f-icon-home-location-alt:before {
  content: "\f434";
}
.tskn-f-icon-home-location:before {
  content: "\f435";
}
.tskn-f-icon-home:before {
  content: "\f436";
}
.tskn-f-icon-hot-tub:before {
  content: "\f437";
}
.tskn-f-icon-hotdog:before {
  content: "\f438";
}
.tskn-f-icon-hotel:before {
  content: "\f439";
}
.tskn-f-icon-hourglass-end:before {
  content: "\f43a";
}
.tskn-f-icon-hourglass-start:before {
  content: "\f43b";
}
.tskn-f-icon-hourglass:before {
  content: "\f43c";
}
.tskn-f-icon-house-blank:before {
  content: "\f43d";
}
.tskn-f-icon-house-building:before {
  content: "\f43e";
}
.tskn-f-icon-house-chimney-blank:before {
  content: "\f43f";
}
.tskn-f-icon-house-chimney-crack:before {
  content: "\f440";
}
.tskn-f-icon-house-chimney-medical:before {
  content: "\f441";
}
.tskn-f-icon-house-chimney-window:before {
  content: "\f442";
}
.tskn-f-icon-house-chimney:before {
  content: "\f443";
}
.tskn-f-icon-house-crack:before {
  content: "\f444";
}
.tskn-f-icon-house-flood:before {
  content: "\f445";
}
.tskn-f-icon-house-medical:before {
  content: "\f446";
}
.tskn-f-icon-house-tree:before {
  content: "\f447";
}
.tskn-f-icon-house-turret:before {
  content: "\f448";
}
.tskn-f-icon-house-window:before {
  content: "\f449";
}
.tskn-f-icon-hryvnia:before {
  content: "\f44a";
}
.tskn-f-icon-humidity:before {
  content: "\f44b";
}
.tskn-f-icon-hurricane:before {
  content: "\f44c";
}
.tskn-f-icon-i:before {
  content: "\f44d";
}
.tskn-f-icon-ice-cream:before {
  content: "\f44e";
}
.tskn-f-icon-icon-star:before {
  content: "\f44f";
}
.tskn-f-icon-id-badge:before {
  content: "\f450";
}
.tskn-f-icon-igloo:before {
  content: "\f451";
}
.tskn-f-icon-images:before {
  content: "\f452";
}
.tskn-f-icon-inbox-in:before {
  content: "\f453";
}
.tskn-f-icon-inbox-out:before {
  content: "\f454";
}
.tskn-f-icon-inbox:before {
  content: "\f455";
}
.tskn-f-icon-incognito:before {
  content: "\f456";
}
.tskn-f-icon-indent:before {
  content: "\f457";
}
.tskn-f-icon-industry-windows:before {
  content: "\f458";
}
.tskn-f-icon-infinity:before {
  content: "\f459";
}
.tskn-f-icon-info:before {
  content: "\f45a";
}
.tskn-f-icon-input-numeric:before {
  content: "\f45b";
}
.tskn-f-icon-input-pipe:before {
  content: "\f45c";
}
.tskn-f-icon-input-text:before {
  content: "\f45d";
}
.tskn-f-icon-interactive:before {
  content: "\f45e";
}
.tskn-f-icon-interlining:before {
  content: "\f45f";
}
.tskn-f-icon-interrogation:before {
  content: "\f460";
}
.tskn-f-icon-island-tropical:before {
  content: "\f461";
}
.tskn-f-icon-italic:before {
  content: "\f462";
}
.tskn-f-icon-j:before {
  content: "\f463";
}
.tskn-f-icon-jam:before {
  content: "\f464";
}
.tskn-f-icon-jpg:before {
  content: "\f465";
}
.tskn-f-icon-jug:before {
  content: "\f466";
}
.tskn-f-icon-k:before {
  content: "\f467";
}
.tskn-f-icon-kerning:before {
  content: "\f468";
}
.tskn-f-icon-key:before {
  content: "\f469";
}
.tskn-f-icon-keyboard-brightness-low:before {
  content: "\f46a";
}
.tskn-f-icon-keyboard-brightness:before {
  content: "\f46b";
}
.tskn-f-icon-keyboard:before {
  content: "\f46c";
}
.tskn-f-icon-keynote:before {
  content: "\f46d";
}
.tskn-f-icon-kiss-beam:before {
  content: "\f46e";
}
.tskn-f-icon-kiss-wink-heart:before {
  content: "\f46f";
}
.tskn-f-icon-kiss:before {
  content: "\f470";
}
.tskn-f-icon-kite:before {
  content: "\f471";
}
.tskn-f-icon-knife:before {
  content: "\f472";
}
.tskn-f-icon-l:before {
  content: "\f473";
}
.tskn-f-icon-label:before {
  content: "\f474";
}
.tskn-f-icon-landmark-alt:before {
  content: "\f475";
}
.tskn-f-icon-laptop-code:before {
  content: "\f476";
}
.tskn-f-icon-laptop:before {
  content: "\f477";
}
.tskn-f-icon-lasso-sparkles:before {
  content: "\f478";
}
.tskn-f-icon-lasso:before {
  content: "\f479";
}
.tskn-f-icon-laugh-beam:before {
  content: "\f47a";
}
.tskn-f-icon-laugh-squint:before {
  content: "\f47b";
}
.tskn-f-icon-laugh-wink:before {
  content: "\f47c";
}
.tskn-f-icon-laugh:before {
  content: "\f47d";
}
.tskn-f-icon-layer-minus:before {
  content: "\f47e";
}
.tskn-f-icon-layer-plus:before {
  content: "\f47f";
}
.tskn-f-icon-layers:before {
  content: "\f480";
}
.tskn-f-icon-layout-fluid:before {
  content: "\f481";
}
.tskn-f-icon-leaf:before {
  content: "\f482";
}
.tskn-f-icon-lemon:before {
  content: "\f483";
}
.tskn-f-icon-letter-case:before {
  content: "\f484";
}
.tskn-f-icon-lettuce:before {
  content: "\f485";
}
.tskn-f-icon-level-down-alt:before {
  content: "\f486";
}
.tskn-f-icon-level-down:before {
  content: "\f487";
}
.tskn-f-icon-level-up-alt:before {
  content: "\f488";
}
.tskn-f-icon-level-up:before {
  content: "\f489";
}
.tskn-f-icon-license:before {
  content: "\f48a";
}
.tskn-f-icon-life-ring:before {
  content: "\f48b";
}
.tskn-f-icon-light-switch-off:before {
  content: "\f48c";
}
.tskn-f-icon-light-switch-on:before {
  content: "\f48d";
}
.tskn-f-icon-light-switch:before {
  content: "\f48e";
}
.tskn-f-icon-lightbulb-dollar:before {
  content: "\f48f";
}
.tskn-f-icon-line-width:before {
  content: "\f490";
}
.tskn-f-icon-link-alt:before {
  content: "\f491";
}
.tskn-f-icon-link-horizontal-slash:before {
  content: "\f492";
}
.tskn-f-icon-link-horizontal:before {
  content: "\f493";
}
.tskn-f-icon-link-slash-alt:before {
  content: "\f494";
}
.tskn-f-icon-link-slash:before {
  content: "\f495";
}
.tskn-f-icon-link:before {
  content: "\f496";
}
.tskn-f-icon-lipstick:before {
  content: "\f497";
}
.tskn-f-icon-lira-sign:before {
  content: "\f498";
}
.tskn-f-icon-list-check:before {
  content: "\f499";
}
.tskn-f-icon-list:before {
  content: "\f49a";
}
.tskn-f-icon-loading:before {
  content: "\f49b";
}
.tskn-f-icon-location-alt:before {
  content: "\f49c";
}
.tskn-f-icon-location-crosshairs-slash:before {
  content: "\f49d";
}
.tskn-f-icon-location-crosshairs:before {
  content: "\f49e";
}
.tskn-f-icon-location-dot-slash:before {
  content: "\f49f";
}
.tskn-f-icon-lock-alt:before {
  content: "\f4a0";
}
.tskn-f-icon-lock:before {
  content: "\f4a1";
}
.tskn-f-icon-luchador:before {
  content: "\f4a2";
}
.tskn-f-icon-luggage-cart:before {
  content: "\f4a3";
}
.tskn-f-icon-luggage-rolling:before {
  content: "\f4a4";
}
.tskn-f-icon-m:before {
  content: "\f4a5";
}
.tskn-f-icon-mailbox:before {
  content: "\f4a6";
}
.tskn-f-icon-makeup-brush:before {
  content: "\f4a7";
}
.tskn-f-icon-man-head:before {
  content: "\f4a8";
}
.tskn-f-icon-map-marker-check:before {
  content: "\f4a9";
}
.tskn-f-icon-map-marker-cross:before {
  content: "\f4aa";
}
.tskn-f-icon-map-marker-edit:before {
  content: "\f4ab";
}
.tskn-f-icon-map-marker-home:before {
  content: "\f4ac";
}
.tskn-f-icon-map-marker-minus:before {
  content: "\f4ad";
}
.tskn-f-icon-map-marker-plus:before {
  content: "\f4ae";
}
.tskn-f-icon-map-marker-question:before {
  content: "\f4af";
}
.tskn-f-icon-map-marker-slash:before {
  content: "\f4b0";
}
.tskn-f-icon-map-marker-smile:before {
  content: "\f4b1";
}
.tskn-f-icon-map-marker:before {
  content: "\f4b2";
}
.tskn-f-icon-map-pin:before {
  content: "\f4b3";
}
.tskn-f-icon-map:before {
  content: "\f4b4";
}
.tskn-f-icon-marker-time:before {
  content: "\f4b5";
}
.tskn-f-icon-marker:before {
  content: "\f4b6";
}
.tskn-f-icon-mars-double:before {
  content: "\f4b7";
}
.tskn-f-icon-mars:before {
  content: "\f4b8";
}
.tskn-f-icon-mask-carnival:before {
  content: "\f4b9";
}
.tskn-f-icon-medicine:before {
  content: "\f4ba";
}
.tskn-f-icon-megaphone:before {
  content: "\f4bb";
}
.tskn-f-icon-meh-blank:before {
  content: "\f4bc";
}
.tskn-f-icon-meh-rolling-eyes:before {
  content: "\f4bd";
}
.tskn-f-icon-meh:before {
  content: "\f4be";
}
.tskn-f-icon-melon:before {
  content: "\f4bf";
}
.tskn-f-icon-memo-circle-check:before {
  content: "\f4c0";
}
.tskn-f-icon-memo-pad:before {
  content: "\f4c1";
}
.tskn-f-icon-memo:before {
  content: "\f4c2";
}
.tskn-f-icon-menu-burger:before {
  content: "\f4c3";
}
.tskn-f-icon-menu-dots-vertical:before {
  content: "\f4c4";
}
.tskn-f-icon-menu-dots:before {
  content: "\f4c5";
}
.tskn-f-icon-message-code:before {
  content: "\f4c6";
}
.tskn-f-icon-meteor:before {
  content: "\f4c7";
}
.tskn-f-icon-microphone-alt:before {
  content: "\f4c8";
}
.tskn-f-icon-microphone:before {
  content: "\f4c9";
}
.tskn-f-icon-mind-share:before {
  content: "\f4ca";
}
.tskn-f-icon-minus-small:before {
  content: "\f4cb";
}
.tskn-f-icon-minus:before {
  content: "\f4cc";
}
.tskn-f-icon-mobile-button:before {
  content: "\f4cd";
}
.tskn-f-icon-mobile-notch:before {
  content: "\f4ce";
}
.tskn-f-icon-mobile:before {
  content: "\f4cf";
}
.tskn-f-icon-mockup:before {
  content: "\f4d0";
}
.tskn-f-icon-mode-landscape:before {
  content: "\f4d1";
}
.tskn-f-icon-mode-portrait:before {
  content: "\f4d2";
}
.tskn-f-icon-money-bill-wave-alt:before {
  content: "\f4d3";
}
.tskn-f-icon-money-bill-wave:before {
  content: "\f4d4";
}
.tskn-f-icon-money-check-edit-alt:before {
  content: "\f4d5";
}
.tskn-f-icon-money-check-edit:before {
  content: "\f4d6";
}
.tskn-f-icon-money-check:before {
  content: "\f4d7";
}
.tskn-f-icon-money:before {
  content: "\f4d8";
}
.tskn-f-icon-monument:before {
  content: "\f4d9";
}
.tskn-f-icon-moon-stars:before {
  content: "\f4da";
}
.tskn-f-icon-moon:before {
  content: "\f4db";
}
.tskn-f-icon-motorcycle:before {
  content: "\f4dc";
}
.tskn-f-icon-mountains:before {
  content: "\f4dd";
}
.tskn-f-icon-mouse:before {
  content: "\f4de";
}
.tskn-f-icon-move-to-folder-2:before {
  content: "\f4df";
}
.tskn-f-icon-move-to-folder:before {
  content: "\f4e0";
}
.tskn-f-icon-mug-alt:before {
  content: "\f4e1";
}
.tskn-f-icon-mug-hot-alt:before {
  content: "\f4e2";
}
.tskn-f-icon-mug-hot:before {
  content: "\f4e3";
}
.tskn-f-icon-mug-tea:before {
  content: "\f4e4";
}
.tskn-f-icon-mug:before {
  content: "\f4e5";
}
.tskn-f-icon-mushroom:before {
  content: "\f4e6";
}
.tskn-f-icon-music-alt:before {
  content: "\f4e7";
}
.tskn-f-icon-music-file:before {
  content: "\f4e8";
}
.tskn-f-icon-music:before {
  content: "\f4e9";
}
.tskn-f-icon-n:before {
  content: "\f4ea";
}
.tskn-f-icon-navigation:before {
  content: "\f4eb";
}
.tskn-f-icon-network-cloud:before {
  content: "\f4ec";
}
.tskn-f-icon-network:before {
  content: "\f4ed";
}
.tskn-f-icon-no-people:before {
  content: "\f4ee";
}
.tskn-f-icon-noodles:before {
  content: "\f4ef";
}
.tskn-f-icon-note:before {
  content: "\f4f0";
}
.tskn-f-icon-notebook:before {
  content: "\f4f1";
}
.tskn-f-icon-notes:before {
  content: "\f4f2";
}
.tskn-f-icon-o:before {
  content: "\f4f3";
}
.tskn-f-icon-object-exclude:before {
  content: "\f4f4";
}
.tskn-f-icon-object-intersect:before {
  content: "\f4f5";
}
.tskn-f-icon-object-subtract:before {
  content: "\f4f6";
}
.tskn-f-icon-object-union:before {
  content: "\f4f7";
}
.tskn-f-icon-octagon:before {
  content: "\f4f8";
}
.tskn-f-icon-oil-can:before {
  content: "\f4f9";
}
.tskn-f-icon-oil-temp:before {
  content: "\f4fa";
}
.tskn-f-icon-olive-oil:before {
  content: "\f4fb";
}
.tskn-f-icon-olives:before {
  content: "\f4fc";
}
.tskn-f-icon-onion:before {
  content: "\f4fd";
}
.tskn-f-icon-opacity:before {
  content: "\f4fe";
}
.tskn-f-icon-overline:before {
  content: "\f4ff";
}
.tskn-f-icon-p:before {
  content: "\f500";
}
.tskn-f-icon-package:before {
  content: "\f501";
}
.tskn-f-icon-page-break:before {
  content: "\f502";
}
.tskn-f-icon-paint-roller:before {
  content: "\f503";
}
.tskn-f-icon-paint:before {
  content: "\f504";
}
.tskn-f-icon-palette:before {
  content: "\f505";
}
.tskn-f-icon-pan:before {
  content: "\f506";
}
.tskn-f-icon-paper-plane:before {
  content: "\f507";
}
.tskn-f-icon-parking-circle-slash:before {
  content: "\f508";
}
.tskn-f-icon-parking-circle:before {
  content: "\f509";
}
.tskn-f-icon-parking-slash:before {
  content: "\f50a";
}
.tskn-f-icon-parking:before {
  content: "\f50b";
}
.tskn-f-icon-party:before {
  content: "\f50c";
}
.tskn-f-icon-passport:before {
  content: "\f50d";
}
.tskn-f-icon-password:before {
  content: "\f50e";
}
.tskn-f-icon-paste:before {
  content: "\f50f";
}
.tskn-f-icon-pattern:before {
  content: "\f510";
}
.tskn-f-icon-pause:before {
  content: "\f511";
}
.tskn-f-icon-paw:before {
  content: "\f512";
}
.tskn-f-icon-peach:before {
  content: "\f513";
}
.tskn-f-icon-pencil-ruler:before {
  content: "\f514";
}
.tskn-f-icon-pencil:before {
  content: "\f515";
}
.tskn-f-icon-pennant:before {
  content: "\f516";
}
.tskn-f-icon-people-arrows-left-right:before {
  content: "\f517";
}
.tskn-f-icon-people-carry-box:before {
  content: "\f518";
}
.tskn-f-icon-people-dress:before {
  content: "\f519";
}
.tskn-f-icon-people-pants:before {
  content: "\f51a";
}
.tskn-f-icon-people-poll:before {
  content: "\f51b";
}
.tskn-f-icon-people:before {
  content: "\f51c";
}
.tskn-f-icon-pepper-hot:before {
  content: "\f51d";
}
.tskn-f-icon-pepper:before {
  content: "\f51e";
}
.tskn-f-icon-percentage:before {
  content: "\f51f";
}
.tskn-f-icon-person-praying:before {
  content: "\f520";
}
.tskn-f-icon-person-seat-reclined:before {
  content: "\f521";
}
.tskn-f-icon-person-seat:before {
  content: "\f522";
}
.tskn-f-icon-person-walking-with-cane:before {
  content: "\f523";
}
.tskn-f-icon-pharmacy:before {
  content: "\f524";
}
.tskn-f-icon-phone-call:before {
  content: "\f525";
}
.tskn-f-icon-phone-cross:before {
  content: "\f526";
}
.tskn-f-icon-phone-office:before {
  content: "\f527";
}
.tskn-f-icon-phone-pause:before {
  content: "\f528";
}
.tskn-f-icon-phone-slash:before {
  content: "\f529";
}
.tskn-f-icon-photo-film-music:before {
  content: "\f52a";
}
.tskn-f-icon-photo-video:before {
  content: "\f52b";
}
.tskn-f-icon-physics:before {
  content: "\f52c";
}
.tskn-f-icon-picnic:before {
  content: "\f52d";
}
.tskn-f-icon-picpeople-filled:before {
  content: "\f52e";
}
.tskn-f-icon-picpeople:before {
  content: "\f52f";
}
.tskn-f-icon-picture:before {
  content: "\f530";
}
.tskn-f-icon-pie:before {
  content: "\f531";
}
.tskn-f-icon-piggy-bank:before {
  content: "\f532";
}
.tskn-f-icon-pineapple:before {
  content: "\f533";
}
.tskn-f-icon-pipette:before {
  content: "\f534";
}
.tskn-f-icon-pizza-slice:before {
  content: "\f535";
}
.tskn-f-icon-plane-alt:before {
  content: "\f536";
}
.tskn-f-icon-plane-arrival:before {
  content: "\f537";
}
.tskn-f-icon-plane-departure:before {
  content: "\f538";
}
.tskn-f-icon-plane-prop:before {
  content: "\f539";
}
.tskn-f-icon-plane-tail:before {
  content: "\f53a";
}
.tskn-f-icon-plane:before {
  content: "\f53b";
}
.tskn-f-icon-plate:before {
  content: "\f53c";
}
.tskn-f-icon-play-alt:before {
  content: "\f53d";
}
.tskn-f-icon-play-pause:before {
  content: "\f53e";
}
.tskn-f-icon-play:before {
  content: "\f53f";
}
.tskn-f-icon-plus-small:before {
  content: "\f540";
}
.tskn-f-icon-plus:before {
  content: "\f541";
}
.tskn-f-icon-podium-star:before {
  content: "\f542";
}
.tskn-f-icon-podium:before {
  content: "\f543";
}
.tskn-f-icon-poo:before {
  content: "\f544";
}
.tskn-f-icon-popcorn:before {
  content: "\f545";
}
.tskn-f-icon-portrait:before {
  content: "\f546";
}
.tskn-f-icon-pot:before {
  content: "\f547";
}
.tskn-f-icon-pound:before {
  content: "\f548";
}
.tskn-f-icon-power:before {
  content: "\f549";
}
.tskn-f-icon-presentation:before {
  content: "\f54a";
}
.tskn-f-icon-print:before {
  content: "\f54b";
}
.tskn-f-icon-projector:before {
  content: "\f54c";
}
.tskn-f-icon-protractor:before {
  content: "\f54d";
}
.tskn-f-icon-pulse:before {
  content: "\f54e";
}
.tskn-f-icon-pumpkin:before {
  content: "\f54f";
}
.tskn-f-icon-puzzle-piece:before {
  content: "\f550";
}
.tskn-f-icon-pyramid:before {
  content: "\f551";
}
.tskn-f-icon-q:before {
  content: "\f552";
}
.tskn-f-icon-qrcode:before {
  content: "\f553";
}
.tskn-f-icon-question-square:before {
  content: "\f554";
}
.tskn-f-icon-question:before {
  content: "\f555";
}
.tskn-f-icon-quote-right:before {
  content: "\f556";
}
.tskn-f-icon-r:before {
  content: "\f557";
}
.tskn-f-icon-racquet:before {
  content: "\f558";
}
.tskn-f-icon-radish:before {
  content: "\f559";
}
.tskn-f-icon-rainbow:before {
  content: "\f55a";
}
.tskn-f-icon-raindrops:before {
  content: "\f55b";
}
.tskn-f-icon-ramp-loading:before {
  content: "\f55c";
}
.tskn-f-icon-rec:before {
  content: "\f55d";
}
.tskn-f-icon-receipt:before {
  content: "\f55e";
}
.tskn-f-icon-record-vinyl:before {
  content: "\f55f";
}
.tskn-f-icon-rectabgle-vertical:before {
  content: "\f560";
}
.tskn-f-icon-rectangle-barcode:before {
  content: "\f561";
}
.tskn-f-icon-rectangle-code:before {
  content: "\f562";
}
.tskn-f-icon-rectangle-horizontal:before {
  content: "\f563";
}
.tskn-f-icon-rectangle-panoramic:before {
  content: "\f564";
}
.tskn-f-icon-rectangle-xmark:before {
  content: "\f565";
}
.tskn-f-icon-recycle:before {
  content: "\f566";
}
.tskn-f-icon-redo-alt:before {
  content: "\f567";
}
.tskn-f-icon-redo:before {
  content: "\f568";
}
.tskn-f-icon-reflect-horizontal:before {
  content: "\f569";
}
.tskn-f-icon-reflect-vertical:before {
  content: "\f56a";
}
.tskn-f-icon-reflect:before {
  content: "\f56b";
}
.tskn-f-icon-refresh:before {
  content: "\f56c";
}
.tskn-f-icon-registered:before {
  content: "\f56d";
}
.tskn-f-icon-remove-folder:before {
  content: "\f56e";
}
.tskn-f-icon-remove-user:before {
  content: "\f56f";
}
.tskn-f-icon-replace:before {
  content: "\f570";
}
.tskn-f-icon-reply-all:before {
  content: "\f571";
}
.tskn-f-icon-republican:before {
  content: "\f572";
}
.tskn-f-icon-resize:before {
  content: "\f573";
}
.tskn-f-icon-resources:before {
  content: "\f574";
}
.tskn-f-icon-restaurant:before {
  content: "\f575";
}
.tskn-f-icon-restroom-simple:before {
  content: "\f576";
}
.tskn-f-icon-rewind:before {
  content: "\f577";
}
.tskn-f-icon-rhombus:before {
  content: "\f578";
}
.tskn-f-icon-rings-wedding:before {
  content: "\f579";
}
.tskn-f-icon-road:before {
  content: "\f57a";
}
.tskn-f-icon-rocket-lunch:before {
  content: "\f57b";
}
.tskn-f-icon-rocket:before {
  content: "\f57c";
}
.tskn-f-icon-roller-coaster:before {
  content: "\f57d";
}
.tskn-f-icon-room-service:before {
  content: "\f57e";
}
.tskn-f-icon-rotate-left:before {
  content: "\f57f";
}
.tskn-f-icon-rotate-right:before {
  content: "\f580";
}
.tskn-f-icon-route-highway:before {
  content: "\f581";
}
.tskn-f-icon-route-interstate:before {
  content: "\f582";
}
.tskn-f-icon-route:before {
  content: "\f583";
}
.tskn-f-icon-ruble-sign:before {
  content: "\f584";
}
.tskn-f-icon-rugby-helmet:before {
  content: "\f585";
}
.tskn-f-icon-rugby:before {
  content: "\f586";
}
.tskn-f-icon-ruler-combined:before {
  content: "\f587";
}
.tskn-f-icon-ruler-horizontal:before {
  content: "\f588";
}
.tskn-f-icon-ruler-triangle:before {
  content: "\f589";
}
.tskn-f-icon-ruler-vertical:before {
  content: "\f58a";
}
.tskn-f-icon-running:before {
  content: "\f58b";
}
.tskn-f-icon-rupee-sign:before {
  content: "\f58c";
}
.tskn-f-icon-rv:before {
  content: "\f58d";
}
.tskn-f-icon-s:before {
  content: "\f58e";
}
.tskn-f-icon-sack-dollar:before {
  content: "\f58f";
}
.tskn-f-icon-sack:before {
  content: "\f590";
}
.tskn-f-icon-sad-cry:before {
  content: "\f591";
}
.tskn-f-icon-sad-tear:before {
  content: "\f592";
}
.tskn-f-icon-sad:before {
  content: "\f593";
}
.tskn-f-icon-salad:before {
  content: "\f594";
}
.tskn-f-icon-salt-pepper:before {
  content: "\f595";
}
.tskn-f-icon-sandwich:before {
  content: "\f596";
}
.tskn-f-icon-sauce:before {
  content: "\f597";
}
.tskn-f-icon-sausage:before {
  content: "\f598";
}
.tskn-f-icon-scale:before {
  content: "\f599";
}
.tskn-f-icon-school-bus:before {
  content: "\f59a";
}
.tskn-f-icon-school:before {
  content: "\f59b";
}
.tskn-f-icon-scissors:before {
  content: "\f59c";
}
.tskn-f-icon-screen:before {
  content: "\f59d";
}
.tskn-f-icon-scroll-torah:before {
  content: "\f59e";
}
.tskn-f-icon-search-alt:before {
  content: "\f59f";
}
.tskn-f-icon-search-dollar:before {
  content: "\f5a0";
}
.tskn-f-icon-search-heart:before {
  content: "\f5a1";
}
.tskn-f-icon-search-location:before {
  content: "\f5a2";
}
.tskn-f-icon-search:before {
  content: "\f5a3";
}
.tskn-f-icon-seat-airline:before {
  content: "\f5a4";
}
.tskn-f-icon-select:before {
  content: "\f5a5";
}
.tskn-f-icon-sensor-alert:before {
  content: "\f5a6";
}
.tskn-f-icon-sensor-fire:before {
  content: "\f5a7";
}
.tskn-f-icon-sensor-on:before {
  content: "\f5a8";
}
.tskn-f-icon-sensor-smoke:before {
  content: "\f5a9";
}
.tskn-f-icon-sensor:before {
  content: "\f5aa";
}
.tskn-f-icon-settings-sliders:before {
  content: "\f5ab";
}
.tskn-f-icon-settings:before {
  content: "\f5ac";
}
.tskn-f-icon-share:before {
  content: "\f5ad";
}
.tskn-f-icon-shekel-sign:before {
  content: "\f5ae";
}
.tskn-f-icon-shield-check:before {
  content: "\f5af";
}
.tskn-f-icon-shield-exclamation:before {
  content: "\f5b0";
}
.tskn-f-icon-shield-interrogation:before {
  content: "\f5b1";
}
.tskn-f-icon-shield-plus:before {
  content: "\f5b2";
}
.tskn-f-icon-shield:before {
  content: "\f5b3";
}
.tskn-f-icon-ship-side:before {
  content: "\f5b4";
}
.tskn-f-icon-ship:before {
  content: "\f5b5";
}
.tskn-f-icon-shoe-prints:before {
  content: "\f5b6";
}
.tskn-f-icon-shop-lock:before {
  content: "\f5b7";
}
.tskn-f-icon-shop:before {
  content: "\f5b8";
}
.tskn-f-icon-shopping-bag-add:before {
  content: "\f5b9";
}
.tskn-f-icon-shopping-bag:before {
  content: "\f5ba";
}
.tskn-f-icon-shopping-basket:before {
  content: "\f5bb";
}
.tskn-f-icon-shopping-cart-add:before {
  content: "\f5bc";
}
.tskn-f-icon-shopping-cart-check:before {
  content: "\f5bd";
}
.tskn-f-icon-shopping-cart:before {
  content: "\f5be";
}
.tskn-f-icon-shrimp:before {
  content: "\f5bf";
}
.tskn-f-icon-shuffle:before {
  content: "\f5c0";
}
.tskn-f-icon-shuttle-van:before {
  content: "\f5c1";
}
.tskn-f-icon-shuttlecock:before {
  content: "\f5c2";
}
.tskn-f-icon-sidebar-flip:before {
  content: "\f5c3";
}
.tskn-f-icon-sidebar:before {
  content: "\f5c4";
}
.tskn-f-icon-sign-hanging:before {
  content: "\f5c5";
}
.tskn-f-icon-sign-in-alt:before {
  content: "\f5c6";
}
.tskn-f-icon-sign-out-alt:before {
  content: "\f5c7";
}
.tskn-f-icon-signal-alt-1:before {
  content: "\f5c8";
}
.tskn-f-icon-signal-alt-2:before {
  content: "\f5c9";
}
.tskn-f-icon-signal-alt:before {
  content: "\f5ca";
}
.tskn-f-icon-signal-stream-slash:before {
  content: "\f5cb";
}
.tskn-f-icon-signal-stream:before {
  content: "\f5cc";
}
.tskn-f-icon-sitemap:before {
  content: "\f5cd";
}
.tskn-f-icon-skateboard:before {
  content: "\f5ce";
}
.tskn-f-icon-skating:before {
  content: "\f5cf";
}
.tskn-f-icon-skewer:before {
  content: "\f5d0";
}
.tskn-f-icon-ski-jump:before {
  content: "\f5d1";
}
.tskn-f-icon-ski-lift:before {
  content: "\f5d2";
}
.tskn-f-icon-skiing-nordic:before {
  content: "\f5d3";
}
.tskn-f-icon-skiing:before {
  content: "\f5d4";
}
.tskn-f-icon-slash:before {
  content: "\f5d5";
}
.tskn-f-icon-sledding:before {
  content: "\f5d6";
}
.tskn-f-icon-sleigh:before {
  content: "\f5d7";
}
.tskn-f-icon-smartphone:before {
  content: "\f5d8";
}
.tskn-f-icon-smile-beam:before {
  content: "\f5d9";
}
.tskn-f-icon-smile-wink:before {
  content: "\f5da";
}
.tskn-f-icon-smile:before {
  content: "\f5db";
}
.tskn-f-icon-smiley-comment-alt:before {
  content: "\f5dc";
}
.tskn-f-icon-smog:before {
  content: "\f5dd";
}
.tskn-f-icon-smoke:before {
  content: "\f5de";
}
.tskn-f-icon-snooze:before {
  content: "\f5df";
}
.tskn-f-icon-snow-blowing:before {
  content: "\f5e0";
}
.tskn-f-icon-snowboarding:before {
  content: "\f5e1";
}
.tskn-f-icon-snowflake:before {
  content: "\f5e2";
}
.tskn-f-icon-snowflakes:before {
  content: "\f5e3";
}
.tskn-f-icon-snowmobile:before {
  content: "\f5e4";
}
.tskn-f-icon-snowplow:before {
  content: "\f5e5";
}
.tskn-f-icon-soap:before {
  content: "\f5e6";
}
.tskn-f-icon-sort-alpha-down-alt:before {
  content: "\f5e7";
}
.tskn-f-icon-sort-alpha-down:before {
  content: "\f5e8";
}
.tskn-f-icon-sort-alpha-up-alt:before {
  content: "\f5e9";
}
.tskn-f-icon-sort-alpha-up:before {
  content: "\f5ea";
}
.tskn-f-icon-sort-alt:before {
  content: "\f5eb";
}
.tskn-f-icon-sort-amount-down-alt:before {
  content: "\f5ec";
}
.tskn-f-icon-sort-amount-down:before {
  content: "\f5ed";
}
.tskn-f-icon-sort-amount-up-alt:before {
  content: "\f5ee";
}
.tskn-f-icon-sort-amount-up:before {
  content: "\f5ef";
}
.tskn-f-icon-sort-down:before {
  content: "\f5f0";
}
.tskn-f-icon-sort-numeric-down-alt:before {
  content: "\f5f1";
}
.tskn-f-icon-sort-numeric-down:before {
  content: "\f5f2";
}
.tskn-f-icon-sort-shapes-down:before {
  content: "\f5f3";
}
.tskn-f-icon-sort-shapes-up:before {
  content: "\f5f4";
}
.tskn-f-icon-sort-size-down:before {
  content: "\f5f5";
}
.tskn-f-icon-sort-size-up:before {
  content: "\f5f6";
}
.tskn-f-icon-sort:before {
  content: "\f5f7";
}
.tskn-f-icon-soup:before {
  content: "\f5f8";
}
.tskn-f-icon-spa:before {
  content: "\f5f9";
}
.tskn-f-icon-space-shuttle:before {
  content: "\f5fa";
}
.tskn-f-icon-spade:before {
  content: "\f5fb";
}
.tskn-f-icon-spaghetti-monster-flying:before {
  content: "\f5fc";
}
.tskn-f-icon-sparkles:before {
  content: "\f5fd";
}
.tskn-f-icon-speaker:before {
  content: "\f5fe";
}
.tskn-f-icon-sphere:before {
  content: "\f5ff";
}
.tskn-f-icon-spinner:before {
  content: "\f600";
}
.tskn-f-icon-spoon:before {
  content: "\f601";
}
.tskn-f-icon-square-0:before {
  content: "\f602";
}
.tskn-f-icon-square-1:before {
  content: "\f603";
}
.tskn-f-icon-square-2:before {
  content: "\f604";
}
.tskn-f-icon-square-3:before {
  content: "\f605";
}
.tskn-f-icon-square-4:before {
  content: "\f606";
}
.tskn-f-icon-square-5:before {
  content: "\f607";
}
.tskn-f-icon-square-6:before {
  content: "\f608";
}
.tskn-f-icon-square-7:before {
  content: "\f609";
}
.tskn-f-icon-square-8:before {
  content: "\f60a";
}
.tskn-f-icon-square-9:before {
  content: "\f60b";
}
.tskn-f-icon-square-code:before {
  content: "\f60c";
}
.tskn-f-icon-square-heart:before {
  content: "\f60d";
}
.tskn-f-icon-square-info:before {
  content: "\f60e";
}
.tskn-f-icon-square-minus:before {
  content: "\f60f";
}
.tskn-f-icon-square-plus:before {
  content: "\f610";
}
.tskn-f-icon-square-root:before {
  content: "\f611";
}
.tskn-f-icon-square-terminal:before {
  content: "\f612";
}
.tskn-f-icon-square:before {
  content: "\f613";
}
.tskn-f-icon-squircle:before {
  content: "\f614";
}
.tskn-f-icon-stamp:before {
  content: "\f615";
}
.tskn-f-icon-star-comment-alt:before {
  content: "\f616";
}
.tskn-f-icon-star-octogram:before {
  content: "\f617";
}
.tskn-f-icon-star:before {
  content: "\f618";
}
.tskn-f-icon-starfighter:before {
  content: "\f619";
}
.tskn-f-icon-stars:before {
  content: "\f61a";
}
.tskn-f-icon-stats:before {
  content: "\f61b";
}
.tskn-f-icon-steak:before {
  content: "\f61c";
}
.tskn-f-icon-steering-wheel:before {
  content: "\f61d";
}
.tskn-f-icon-stethoscope:before {
  content: "\f61e";
}
.tskn-f-icon-sticker:before {
  content: "\f61f";
}
.tskn-f-icon-stop:before {
  content: "\f620";
}
.tskn-f-icon-stopwatch:before {
  content: "\f621";
}
.tskn-f-icon-store-alt:before {
  content: "\f622";
}
.tskn-f-icon-store-lock:before {
  content: "\f623";
}
.tskn-f-icon-strawberry:before {
  content: "\f624";
}
.tskn-f-icon-street-view:before {
  content: "\f625";
}
.tskn-f-icon-subtitles:before {
  content: "\f626";
}
.tskn-f-icon-subway:before {
  content: "\f627";
}
.tskn-f-icon-suitcase-alt:before {
  content: "\f628";
}
.tskn-f-icon-summer:before {
  content: "\f629";
}
.tskn-f-icon-sun:before {
  content: "\f62a";
}
.tskn-f-icon-sunrise-alt:before {
  content: "\f62b";
}
.tskn-f-icon-sunrise:before {
  content: "\f62c";
}
.tskn-f-icon-sunset:before {
  content: "\f62d";
}
.tskn-f-icon-surfing:before {
  content: "\f62e";
}
.tskn-f-icon-surprise:before {
  content: "\f62f";
}
.tskn-f-icon-sushi:before {
  content: "\f630";
}
.tskn-f-icon-swimmer:before {
  content: "\f631";
}
.tskn-f-icon-sword:before {
  content: "\f632";
}
.tskn-f-icon-symbol:before {
  content: "\f633";
}
.tskn-f-icon-syringe:before {
  content: "\f634";
}
.tskn-f-icon-t:before {
  content: "\f635";
}
.tskn-f-icon-table-columns:before {
  content: "\f636";
}
.tskn-f-icon-table-layout:before {
  content: "\f637";
}
.tskn-f-icon-table-picnic:before {
  content: "\f638";
}
.tskn-f-icon-table-pivot:before {
  content: "\f639";
}
.tskn-f-icon-table-rows:before {
  content: "\f63a";
}
.tskn-f-icon-table-tree:before {
  content: "\f63b";
}
.tskn-f-icon-tablet:before {
  content: "\f63c";
}
.tskn-f-icon-tachometer-alt-average:before {
  content: "\f63d";
}
.tskn-f-icon-tachometer-alt-fastest:before {
  content: "\f63e";
}
.tskn-f-icon-tachometer-alt-slow:before {
  content: "\f63f";
}
.tskn-f-icon-tachometer-alt-slowest:before {
  content: "\f640";
}
.tskn-f-icon-tachometer-average:before {
  content: "\f641";
}
.tskn-f-icon-tachometer-fast:before {
  content: "\f642";
}
.tskn-f-icon-tachometer-fastest:before {
  content: "\f643";
}
.tskn-f-icon-tachometer-slow:before {
  content: "\f644";
}
.tskn-f-icon-tachometer-slowest:before {
  content: "\f645";
}
.tskn-f-icon-tachometer:before {
  content: "\f646";
}
.tskn-f-icon-taco:before {
  content: "\f647";
}
.tskn-f-icon-tags:before {
  content: "\f648";
}
.tskn-f-icon-tally-1:before {
  content: "\f649";
}
.tskn-f-icon-tally-2:before {
  content: "\f64a";
}
.tskn-f-icon-tally-3:before {
  content: "\f64b";
}
.tskn-f-icon-tally-4:before {
  content: "\f64c";
}
.tskn-f-icon-tally:before {
  content: "\f64d";
}
.tskn-f-icon-target:before {
  content: "\f64e";
}
.tskn-f-icon-taxi-bus:before {
  content: "\f64f";
}
.tskn-f-icon-taxi:before {
  content: "\f650";
}
.tskn-f-icon-temperature-down:before {
  content: "\f651";
}
.tskn-f-icon-temperature-frigid:before {
  content: "\f652";
}
.tskn-f-icon-temperature-high:before {
  content: "\f653";
}
.tskn-f-icon-temperature-low:before {
  content: "\f654";
}
.tskn-f-icon-temperature-up:before {
  content: "\f655";
}
.tskn-f-icon-template-alt:before {
  content: "\f656";
}
.tskn-f-icon-template:before {
  content: "\f657";
}
.tskn-f-icon-tenge:before {
  content: "\f658";
}
.tskn-f-icon-tennis:before {
  content: "\f659";
}
.tskn-f-icon-terrace:before {
  content: "\f65a";
}
.tskn-f-icon-test-tube:before {
  content: "\f65b";
}
.tskn-f-icon-test:before {
  content: "\f65c";
}
.tskn-f-icon-text-check:before {
  content: "\f65d";
}
.tskn-f-icon-text-height:before {
  content: "\f65e";
}
.tskn-f-icon-text-shadow:before {
  content: "\f65f";
}
.tskn-f-icon-text-size:before {
  content: "\f660";
}
.tskn-f-icon-text-slash:before {
  content: "\f661";
}
.tskn-f-icon-text-width:before {
  content: "\f662";
}
.tskn-f-icon-text:before {
  content: "\f663";
}
.tskn-f-icon-thermometer-half:before {
  content: "\f664";
}
.tskn-f-icon-thumbs-down:before {
  content: "\f665";
}
.tskn-f-icon-thumbs-up:before {
  content: "\f666";
}
.tskn-f-icon-thumbtack:before {
  content: "\f667";
}
.tskn-f-icon-thunderstorm-moon:before {
  content: "\f668";
}
.tskn-f-icon-thunderstorm-sun:before {
  content: "\f669";
}
.tskn-f-icon-thunderstorm:before {
  content: "\f66a";
}
.tskn-f-icon-ticket-airline:before {
  content: "\f66b";
}
.tskn-f-icon-ticket-alt:before {
  content: "\f66c";
}
.tskn-f-icon-ticket:before {
  content: "\f66d";
}
.tskn-f-icon-tickets-airline:before {
  content: "\f66e";
}
.tskn-f-icon-time-add:before {
  content: "\f66f";
}
.tskn-f-icon-time-check:before {
  content: "\f670";
}
.tskn-f-icon-time-delete:before {
  content: "\f671";
}
.tskn-f-icon-time-fast:before {
  content: "\f672";
}
.tskn-f-icon-time-forward-sixty:before {
  content: "\f673";
}
.tskn-f-icon-time-forward-ten:before {
  content: "\f674";
}
.tskn-f-icon-time-forward:before {
  content: "\f675";
}
.tskn-f-icon-time-half-past:before {
  content: "\f676";
}
.tskn-f-icon-time-oclock:before {
  content: "\f677";
}
.tskn-f-icon-time-past:before {
  content: "\f678";
}
.tskn-f-icon-time-quarter-past:before {
  content: "\f679";
}
.tskn-f-icon-time-quarter-to:before {
  content: "\f67a";
}
.tskn-f-icon-time-twenty-four:before {
  content: "\f67b";
}
.tskn-f-icon-tire-flat:before {
  content: "\f67c";
}
.tskn-f-icon-tire-pressure-warning:before {
  content: "\f67d";
}
.tskn-f-icon-tire-rugged:before {
  content: "\f67e";
}
.tskn-f-icon-tire:before {
  content: "\f67f";
}
.tskn-f-icon-tired:before {
  content: "\f680";
}
.tskn-f-icon-toilet-paper-blank:before {
  content: "\f681";
}
.tskn-f-icon-tomato:before {
  content: "\f682";
}
.tskn-f-icon-tool-box:before {
  content: "\f683";
}
.tskn-f-icon-tool-crop:before {
  content: "\f684";
}
.tskn-f-icon-tool-marquee:before {
  content: "\f685";
}
.tskn-f-icon-tooth:before {
  content: "\f686";
}
.tskn-f-icon-tornado:before {
  content: "\f687";
}
.tskn-f-icon-tower-control:before {
  content: "\f688";
}
.tskn-f-icon-tractor:before {
  content: "\f689";
}
.tskn-f-icon-traffic-light-go:before {
  content: "\f68a";
}
.tskn-f-icon-traffic-light-slow:before {
  content: "\f68b";
}
.tskn-f-icon-traffic-light-stop:before {
  content: "\f68c";
}
.tskn-f-icon-traffic-light:before {
  content: "\f68d";
}
.tskn-f-icon-trailer:before {
  content: "\f68e";
}
.tskn-f-icon-train-side:before {
  content: "\f68f";
}
.tskn-f-icon-train-subway-tunnel:before {
  content: "\f690";
}
.tskn-f-icon-train-tram:before {
  content: "\f691";
}
.tskn-f-icon-train:before {
  content: "\f692";
}
.tskn-f-icon-tram:before {
  content: "\f693";
}
.tskn-f-icon-transform:before {
  content: "\f694";
}
.tskn-f-icon-trash:before {
  content: "\f695";
}
.tskn-f-icon-treasure-chest:before {
  content: "\f696";
}
.tskn-f-icon-treatment:before {
  content: "\f697";
}
.tskn-f-icon-tree-christmas:before {
  content: "\f698";
}
.tskn-f-icon-tree-deciduous:before {
  content: "\f699";
}
.tskn-f-icon-tree:before {
  content: "\f69a";
}
.tskn-f-icon-triangle-warning:before {
  content: "\f69b";
}
.tskn-f-icon-triangle:before {
  content: "\f69c";
}
.tskn-f-icon-trophy-star:before {
  content: "\f69d";
}
.tskn-f-icon-trophy:before {
  content: "\f69e";
}
.tskn-f-icon-truck-container:before {
  content: "\f69f";
}
.tskn-f-icon-truck-couch:before {
  content: "\f6a0";
}
.tskn-f-icon-truck-loading:before {
  content: "\f6a1";
}
.tskn-f-icon-truck-monster:before {
  content: "\f6a2";
}
.tskn-f-icon-truck-moving:before {
  content: "\f6a3";
}
.tskn-f-icon-truck-pickup:before {
  content: "\f6a4";
}
.tskn-f-icon-truck-plow:before {
  content: "\f6a5";
}
.tskn-f-icon-truck-ramp:before {
  content: "\f6a6";
}
.tskn-f-icon-truck-side:before {
  content: "\f6a7";
}
.tskn-f-icon-truck-tow:before {
  content: "\f6a8";
}
.tskn-f-icon-tty:before {
  content: "\f6a9";
}
.tskn-f-icon-turkey:before {
  content: "\f6aa";
}
.tskn-f-icon-tv-music:before {
  content: "\f6ab";
}
.tskn-f-icon-typewriter:before {
  content: "\f6ac";
}
.tskn-f-icon-u:before {
  content: "\f6ad";
}
.tskn-f-icon-umbrella-beach:before {
  content: "\f6ae";
}
.tskn-f-icon-umbrella:before {
  content: "\f6af";
}
.tskn-f-icon-underline:before {
  content: "\f6b0";
}
.tskn-f-icon-undo-alt:before {
  content: "\f6b1";
}
.tskn-f-icon-undo:before {
  content: "\f6b2";
}
.tskn-f-icon-universal-access:before {
  content: "\f6b3";
}
.tskn-f-icon-unlock:before {
  content: "\f6b4";
}
.tskn-f-icon-up-left:before {
  content: "\f6b5";
}
.tskn-f-icon-up-right:before {
  content: "\f6b6";
}
.tskn-f-icon-up:before {
  content: "\f6b7";
}
.tskn-f-icon-upload:before {
  content: "\f6b8";
}
.tskn-f-icon-usb-pendrive:before {
  content: "\f6b9";
}
.tskn-f-icon-usd-circle:before {
  content: "\f6ba";
}
.tskn-f-icon-usd-square:before {
  content: "\f6bb";
}
.tskn-f-icon-user-add:before {
  content: "\f6bc";
}
.tskn-f-icon-user-pilot-tie:before {
  content: "\f6bd";
}
.tskn-f-icon-user-pilot:before {
  content: "\f6be";
}
.tskn-f-icon-user-time:before {
  content: "\f6bf";
}
.tskn-f-icon-user:before {
  content: "\f6c0";
}
.tskn-f-icon-users-alt:before {
  content: "\f6c1";
}
.tskn-f-icon-users:before {
  content: "\f6c2";
}
.tskn-f-icon-utensils:before {
  content: "\f6c3";
}
.tskn-f-icon-v:before {
  content: "\f6c4";
}
.tskn-f-icon-vector-alt:before {
  content: "\f6c5";
}
.tskn-f-icon-vector:before {
  content: "\f6c6";
}
.tskn-f-icon-venus-double:before {
  content: "\f6c7";
}
.tskn-f-icon-venus-mars:before {
  content: "\f6c8";
}
.tskn-f-icon-venus:before {
  content: "\f6c9";
}
.tskn-f-icon-vest-patches:before {
  content: "\f6ca";
}
.tskn-f-icon-vest:before {
  content: "\f6cb";
}
.tskn-f-icon-video-arrow-down-left:before {
  content: "\f6cc";
}
.tskn-f-icon-video-arrow-up-right:before {
  content: "\f6cd";
}
.tskn-f-icon-video-camera-alt:before {
  content: "\f6ce";
}
.tskn-f-icon-video-camera:before {
  content: "\f6cf";
}
.tskn-f-icon-video-plus:before {
  content: "\f6d0";
}
.tskn-f-icon-video-slash:before {
  content: "\f6d1";
}
.tskn-f-icon-volcano:before {
  content: "\f6d2";
}
.tskn-f-icon-volleyball:before {
  content: "\f6d3";
}
.tskn-f-icon-volume:before {
  content: "\f6d4";
}
.tskn-f-icon-w:before {
  content: "\f6d5";
}
.tskn-f-icon-wagon-covered:before {
  content: "\f6d6";
}
.tskn-f-icon-wallet:before {
  content: "\f6d7";
}
.tskn-f-icon-warehouse-alt:before {
  content: "\f6d8";
}
.tskn-f-icon-watch-smart:before {
  content: "\f6d9";
}
.tskn-f-icon-watch:before {
  content: "\f6da";
}
.tskn-f-icon-water-bottle:before {
  content: "\f6db";
}
.tskn-f-icon-water-ladder:before {
  content: "\f6dc";
}
.tskn-f-icon-water-lower:before {
  content: "\f6dd";
}
.tskn-f-icon-water-rise:before {
  content: "\f6de";
}
.tskn-f-icon-water:before {
  content: "\f6df";
}
.tskn-f-icon-watermelon:before {
  content: "\f6e0";
}
.tskn-f-icon-wheat:before {
  content: "\f6e1";
}
.tskn-f-icon-wheelchair-move:before {
  content: "\f6e2";
}
.tskn-f-icon-wheelchair:before {
  content: "\f6e3";
}
.tskn-f-icon-whistle:before {
  content: "\f6e4";
}
.tskn-f-icon-wifi-1:before {
  content: "\f6e5";
}
.tskn-f-icon-wifi-2:before {
  content: "\f6e6";
}
.tskn-f-icon-wifi-alt:before {
  content: "\f6e7";
}
.tskn-f-icon-wifi-exclamation:before {
  content: "\f6e8";
}
.tskn-f-icon-wifi-slash:before {
  content: "\f6e9";
}
.tskn-f-icon-wifi:before {
  content: "\f6ea";
}
.tskn-f-icon-wind-warning:before {
  content: "\f6eb";
}
.tskn-f-icon-wind:before {
  content: "\f6ec";
}
.tskn-f-icon-windsock:before {
  content: "\f6ed";
}
.tskn-f-icon-wine-glass-crack:before {
  content: "\f6ee";
}
.tskn-f-icon-woman-head:before {
  content: "\f6ef";
}
.tskn-f-icon-world:before {
  content: "\f6f0";
}
.tskn-f-icon-wrench-simple:before {
  content: "\f6f1";
}
.tskn-f-icon-x:before {
  content: "\f6f2";
}
.tskn-f-icon-y:before {
  content: "\f6f3";
}
.tskn-f-icon-yen:before {
  content: "\f6f4";
}
.tskn-f-icon-yin-yang:before {
  content: "\f6f5";
}
.tskn-f-icon-z:before {
  content: "\f6f6";
}
.tskn-f-icon-zoom-in:before {
  content: "\f6f7";
}
.tskn-f-icon-zoom-out:before {
  content: "\f6f8";
}
