@import "gg-icons";

// Regular
@font-face {
  font-family: "tskn-icons";
  src: url("../../../public/webfonts/tskn-icons-regular-rounded.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tskn-icons";
  src: url("../../../public/webfonts/tskn-icons-solid-rounded.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tskn-icons";
  src: url("../../../public/webfonts/tskn-icons-brands.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
[class^="tskn-icon"], [class^="tskn-f-icon"] {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}*/

i[class^="tskn-icon"], i[class*=" tskn-icon-"], span[class^="tskn-icon-"], span[class*="tskn-icon-"],
i[class^="tskn-f-icon"], i[class*=" tskn-f-icon-"], span[class^="tskn-f-icon-"], span[class*="tskn-f-icon-"],
i[class^="tskn-brands-"], i[class*=" tskn-brands-"], span[class^="tskn-brands-"], span[class*="tskn-brands-"] {
  line-height: .6rem;
}


i[class^="tskn-icon"]:before, i[class*=" tskn-icon-"]:before, span[class^="tskn-icon-"]:before, span[class*="tskn-icon-"]:before {
  font-family: tskn-icons !important;
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^="tskn-f-icon"]:before, i[class*=" tskn-f-icon-"]:before, span[class^="tskn-f-icon-"]:before, span[class*="tskn-f-icon-"]:before {
  font-family: tskn-icons !important;
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i[class^="tskn-brands-"]:before, i[class*=" tskn-brands-"]:before, span[class^="tskn-brands-"]:before, span[class*="tskn-brands-"]:before {
  font-family: tskn-icons !important;
  font-style: normal;
  font-weight: 900 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "regular";
@import "solid";
@import "brands";
