<template>
  <section class="page">
    <div class="page-header">
      <h1 class="page-title">
        Appointments
      </h1>
    </div>
    <div class="page-content">
      <DataTable ref="table" :columns="columns"
                 :data="data.records"
                 :options="{ order: [[0, 'desc']], pageLength: 25 }"
                 class="table table-hover table-striped">
      </DataTable>
    </div>
  </section>
</template>

<script lang="ts" setup>
import DataTable from 'datatables.net-vue3'
import DataTablesCore from 'datatables.net-bs5'
import { AirtableService } from '@/services/AirtableService'
import { reactive } from 'vue'
import moment from 'moment'

moment().locale('en-gb')

DataTable.use(DataTablesCore)

const columns = [
  {
    title: '#',
    render: (data, type, row, meta) => {
      return row.fields.appointment_id
    }
  },
  {
    title: 'Employee',
    render: (data, type, row, meta) => {
      return row.fields.agent_name + ' ' + row.fields.agent_surname
    }
  },
  {
    data: 'appointment_date', title: 'Appointment Date',
    render: (data, type, row, meta) => {
      return moment.utc(row.fields.appointment_date).format('DD MMMM YYYY, H:mm')
    }
  },
  {
    title: 'Post Code',
    render: (data, type, row, meta) => {
      return row.fields.appointment_postcode
    }
  },
  {
    title: 'Customer',
    render: (data, type, row, meta) => {
      return row.fields.contact_name + ' ' + row.fields.contact_surname
    }
  },
  {
    title: 'Customer Email',
    render: (data, type, row, meta) => {
      return row.fields.contact_email
    }
  },
  {
    title: 'Customer Phone',
    render: (data, type, row, meta) => {
      return row.fields.contact_phone
    }
  },
]

const data = reactive({
  records: []
})

AirtableService.getRecords('Appointments').all().then((result) => {
  data.records = result;
})
</script>
