<template>
  <section class="page">
    <div class="page-header">
      <h1 class="page-title">
        Create New Appointment
      </h1>
    </div>
    <div class="page-content">
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <form class="w-100" @submit.prevent="handleSubmit">
            <div class="mb-3">
              <label class="form-label" for="postCode">Post Code</label>
              <input id="postCode" v-model="formData.appointment_postcode" aria-describedby="postCode" class="form-control"
                     type="text" v-on:change="getPostcodeDetails">
            </div>
            <div class="mb-3">
              <label class="form-label" for="appointmentDate">Appointment Date</label>
              <input id="appointmentDate" v-model="formData.appointment_date" aria-describedby="appointmentDate"
                     class="form-control"
                     type="datetime-local">
            </div>
            <div class="mb-3">
              <label class="form-label" for="agent_id">Agent</label>
              <div class="input-group">
                <select id="agent_id" v-model="formData.agent_id" aria-describedby="agent_id" aria-label="Agent"
                        class="form-select">
                  <option selected value="0">
                    Select Agent...
                  </option>
                  <option v-for="agent in data.agents" :value="agent.fields.agent_id" :key="agent.fields.contact_id">
                    {{ agent.fields.agent_name + ' ' + agent.fields.agent_surname }}
                  </option>
                </select>
                <button class="input-group-text btn btn-primary" data-bs-target="#createAgentModal"
                        data-bs-toggle="modal"
                        type="button">
                  <i class="tskn-icon-plus"></i>
                </button>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="contact_email">Contact</label>
              <div class="input-group mb-3">
                <select id="contact_id" v-model="formData.contact_id" aria-describedby="contact_id" aria-label="Contact"
                        class="form-select">
                  <option selected value="0">
                    Select Contact...
                  </option>
                  <option v-for="contact in data.contacts" :value="contact.fields.contact_id" :key="contact.fields.contact_id">
                    {{ contact.fields.contact_name + ' ' + contact.fields.contact_surname }}
                  </option>
                </select>
                <button class="input-group-text btn btn-primary" data-bs-target="#createContactModal"
                        data-bs-toggle="modal"
                        type="button">
                  <i class="tskn-icon-plus"></i>
                </button>
              </div>
            </div>
            <CreateAgentModal></CreateAgentModal>
            <CreateContactModal></CreateContactModal>

            <div class="d-flex">
              <button class="btn btn-outline-secondary me-2" type="reset">
                <i class="tskn-icon-cross"></i>
                Cancel
              </button>
              <button class="btn btn-primary" type="submit">
                <i class="tskn-icon-check"></i>
                Save
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-8">
          <div class="map-options mb-3">
            <div class="route-profile">
              <i class="tskn-icon-car"></i>
              <div class="distance">
                <div v-if="distances.hasOwnProperty('driving')">
                  {{ Utilities.convertDistance(distances.driving.routes[0].distance) }}
                </div>
                <div v-if="!distances.hasOwnProperty('driving')">
                  0 km
                </div>
              </div>
              <div class="duration">
                <div v-if="distances.hasOwnProperty('driving')">
                  {{ Utilities.convertTime(distances.driving.routes[0].duration) }}
                </div>
                <div v-if="!distances.hasOwnProperty('driving')">
                  0
                </div>
              </div>
            </div>
            <div class="route-profile">
              <i class="tskn-icon-biking"></i>
              <div class="distance">
                <div v-if="distances.hasOwnProperty('cycling')">
                  {{ Utilities.convertDistance(distances.cycling.routes[0].distance) }}
                </div>
                <div v-if="!distances.hasOwnProperty('cycling')">
                  0 km
                </div>
              </div>
              <div class="duration">
                <div v-if="distances.hasOwnProperty('cycling')">
                  {{ Utilities.convertTime(distances.cycling.routes[0].duration) }}
                </div>
                <div v-if="!distances.hasOwnProperty('cycling')">
                  0
                </div>
              </div>
            </div>
            <div class="route-profile">
              <i class="tskn-icon-person-walking-with-cane"></i>
              <div class="distance">
                <div v-if="distances.hasOwnProperty('walking')">
                  {{ Utilities.convertDistance(distances.walking.routes[0].distance) }}
                </div>
                <div v-if="!distances.hasOwnProperty('walking')">
                  0 km
                </div>
              </div>
              <div class="duration">
                <div v-if="distances.hasOwnProperty('walking')">
                  {{ Utilities.convertTime(distances.walking.routes[0].duration) }}
                </div>
                <div v-if="!distances.hasOwnProperty('walking')">
                  0
                </div>
              </div>
            </div>
            <div class="route-profile">
              <i class="tskn-icon-calendar"></i>
              <div class="distance">
                Appointment Date
              </div>
              <div class="duration">
                {{ moment.utc(formData.appointment_date).format('DD MMM YYYY, H:mm') }}
              </div>
            </div>
            <div class="route-profile">
              <i class="tskn-icon-clock"></i>
              <div class="distance">
                Appointment Duration
              </div>
              <div class="duration">
                1 Hour
              </div>
            </div>
            <div class="route-profile">
              <i class="tskn-icon-clock"></i>
              <div class="distance">
                Estimated Time
              </div>
              <div class="duration">
                1 Hour
              </div>
            </div>
          </div>
          <Map :coordinates="coordinates" :mapLocation="mapLocation" :postCode="formData.appointment_postcode" @update:postCode="formData.appointment_postcode = $event"></Map>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { onBeforeMount, reactive, ref } from 'vue'
import { PostcodeService } from '@/services/PostcodeService'
import Map from '@/components/Map.vue'
import type { MapLocation } from '@/interfaces/MapLocation'
import type { Appointment } from '@/interfaces/Appointment'
import { AirtableService } from '@/services/AirtableService'
import CreateAgentModal from '@/components/CreateAgentModal.vue'
import CreateContactModal from '@/components/CreateContactModal.vue'
import { Utilities } from '@/services/Utilities'
import moment from 'moment'
import { MapboxService } from '@/services/MapboxService'

const formData = reactive<Appointment>({
  appointment_postcode: '',
  appointment_date: '',
  agent_id: '0',
  contact_id: '0'
})

const mapLocation = reactive<MapLocation>({
  latitude: 51.729157,
  longitude: 0.478027
})
const coordinates = ref(null)
const distances = ref({})
const handleSubmit = () => {
  AirtableService.createAppointment({
    'appointment_date': formData.appointment_date,
    'appointment_postcode': formData.appointment_postcode,
    'contact_id': [
      formData.contact_id
    ],
    'agent_id': [
      formData.agent_id
    ]
  })
}

const getPostcodeDetails = () => {
  PostcodeService.getDetailsByPostcode(formData.appointment_postcode).then(async (result: any) => {
    if(result) {
      mapLocation.latitude = result.latitude;
      mapLocation.longitude = result.longitude;

      ['driving', 'walking', 'cycling'].forEach(profile => {
        MapboxService.getDistance([
          {
            latitude: result.latitude,
            longitude: result.longitude
          }
        ], profile).then(distanceResult => {
          console.log(distanceResult.routes[0])
          distances.value[profile] = distanceResult
        })
      })
      coordinates.value = distances.value.driving.routes[0].geometry
    }
  })
}

const data = reactive({
  agents: [],
  contacts: []
})

AirtableService.getRecords('Agents').all().then((result) => {
  data.agents = result
});

AirtableService.getRecords('Contacts').all().then((result) => {
  data.contacts = result
});

onBeforeMount(() => {
  getPostcodeDetails()
})
</script>

<style lang="scss">
.map-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 1.5em;
  padding: .5em 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .route-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    margin-left: 1em;
    margin-right: 2em;

    i {
      font-size: 2em;
      margin-bottom: .25em;
    }

    .distance {
      font-weight: 700;
      font-size: 1em;
      white-space: nowrap;
    }

    .duration {
      font-weight: 400;
      font-size: 1em;
      white-space: nowrap;
    }
  }
}
</style>
