<script lang="ts" setup>
import { AirtableService } from '@/services/AirtableService'
import { reactive } from 'vue'
import type { Agent } from '@/interfaces/Agent'

const formData = reactive<Agent>({
  agent_name: '',
  agent_surname: '',
  Appointments: []
})

const handleSubmit = () => {
  AirtableService.createAgent({
    'agent_name': formData.agent_name,
    'agent_surname': formData.agent_surname,
    'Appointments': formData.Appointments
  })
}
</script>

<template>
  <div id="createAgentModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Agent</h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <form class="w-100" @submit.prevent="handleSubmit">
            <div class="mb-3">
              <label class="form-label" for="contact_name">Agent Name</label>
              <input id="contact_name" v-model="formData.agent_name" aria-describedby="contact_name"
                     class="form-control"
                     type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="contact_surname">Agent Surname</label>
              <input id="contact_surname" v-model="formData.agent_surname" aria-describedby="contact_surname"
                     class="form-control"
                     type="text">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="button" @click="handleSubmit">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

</style>
