<script lang="ts" setup>
import { AirtableService } from '@/services/AirtableService'
import { reactive } from 'vue'
import type { Contact } from '@/interfaces/Contact'

const formData = reactive<Contact>({
  contact_name: '',
  contact_surname: '',
  contact_email: '',
  contact_phone: '',
})

const handleSubmit = () => {
  AirtableService.createContact({
    'contact_name': formData.contact_name,
    'contact_surname': formData.contact_surname,
    'contact_email': formData.contact_email,
    'contact_phone': formData.contact_phone
  })
}
</script>

<template>
  <div id="createContactModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Contact</h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <form class="w-100" @submit.prevent="handleSubmit">
            <div class="mb-3">
              <label class="form-label" for="contact_name">Contact Name</label>
              <input id="contact_name" v-model="formData.contact_name" aria-describedby="contact_name"
                     class="form-control"
                     type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="contact_surname">Contact Surname</label>
              <input id="contact_surname" v-model="formData.contact_surname" aria-describedby="contact_surname"
                     class="form-control"
                     type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="contact_email">Contact Email</label>
              <input id="contact_email" v-model="formData.contact_email" aria-describedby="contact_email"
                     class="form-control"
                     type="email">
            </div>
            <div class="mb-3">
              <label class="form-label" for="contact_phone">Contact Phone</label>
              <input id="contact_phone" v-model="formData.contact_phone" aria-describedby="contact_phone"
                     class="form-control"
                     type="text">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="button" @click="handleSubmit">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

</style>
