<script lang="ts" setup>
import { defineProps, toRef } from 'vue'
import type { MapLocation } from '@/interfaces/MapLocation'
import { MapboxService } from '@/services/MapboxService'
import { PostcodeService } from '@/services/PostcodeService'

const props = defineProps({
  mapLocation: {
    type: Object as () => MapLocation,
    required: true
  },
  coordinates: {
    type: Object as () => any
  },
  postCode: {
    type: Object as () => any
  }
});
const emit = defineEmits(['update:postCode'])

const mapLocation = toRef(props, 'mapLocation')
const coordinates = toRef(props, 'coordinates')

const updateMarker = (event: any) => {
  console.log(event.target._lngLat)
  PostcodeService.getPostcodeByLatLng(event.target._lngLat.lat, event.target._lngLat.lng).then((result) => {
    if (result.length > 0) {
      console.log(result)
      emit('update:postCode', result[0].postcode)
    }
  })
}
</script>

<template>
  <div class="map-container">
    <mapbox-map :accessToken="MapboxService.accessToken" :center="[mapLocation.longitude,mapLocation.latitude]"
                :flyToOptions="{ maxDuration: 2000, speed: 1.2, zoom: 100 }"
                :zoom="10">
      <mapbox-geogeometry-raw v-if="coordinates" :source="coordinates">
        <mapbox-geogeometry-line :width="3" />
      </mapbox-geogeometry-raw>
      <mapbox-navigation-control position="bottom-right" />
      <mapbox-geocoder-control />
      <mapbox-marker :draggable="true" :lngLat="[mapLocation.longitude,mapLocation.latitude]"
                     v-on:dragend="updateMarker" />
    </mapbox-map>
  </div>
</template>
