<script setup lang="ts">

import { RouterLink } from 'vue-router'
</script>

<template>
  <nav class="sidebar">
    <div class="sidebar-wrapper">
      <div class="sidebar-item">
        <RouterLink activeClass="active" to="/" class="btn">
          <i class="tskn-icon-dashboard"></i>
          <div class="title">
            Dashboard
          </div>
        </RouterLink>
      </div>
      <div class="sidebar-item">
        <RouterLink activeClass="active" to="/appointment/list" class="btn">
          <i class="tskn-icon-list-check"></i>
          <div class="title">
            Appointments
          </div>
        </RouterLink>
      </div>
      <div class="sidebar-item">
        <RouterLink activeClass="active" to="/appointment/create" class="btn">
          <i class="tskn-icon-plus"></i>
          <div class="title">
            New Appointment
          </div>
        </RouterLink>
      </div>
    </div>
  </nav>
</template>

<style scoped lang="scss">

</style>
