@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import "icons";
@import "components/sidebar";

// Libraries
$primary: #8c0000;
@import 'bootstrap';
@import 'datatables.net-bs5';

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f3f3;
  font-size: 14px;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 18em;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2em 1em;

  .page-header {
    display: flex;
    flex-direction: row;
    padding: 2em 1em;

    .page-title {
      font-weight: 700;
    }
  }

  .page-content {
    width: 100%;
    padding: 2em 1em;
  }
}

.map-container {
  @extend .w-100;
  @extend .h-100;
  border-radius: 2em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

i, i:before {
  line-height: 0.6;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 0.4em;
  }
}
